/* ------ xp-button ---------------------------------- */
											
	div.xp-button							{
													float:left;
													height:21px;
													display:inline;
												}													
	
	div.xp-button .icon					{
													float:left;
													padding-left: 3px;
												}

	div.xp-button .label					{
													padding:3px 8px 4px 5px;
													float:left;
													font-family: Arial, Helvetica, sans-serif; font-size: 9pt;
													color:#fff;
													white-space:nowrap;
													text-align:center;
												}

	div.xp-button a						{
													float:left;
													padding:0 0 2px 3px;
													cursor:default;
													text-decoration:none;
													background:url("../images/icons/button_left.gif") no-repeat left top;
													min-width:80px;
												}
	
	div.xp-button a:focus 				{
													outline: none;
													background-position:0% -27px;
													text-decoration:none;
												}
	
	div.xp-button a:hover				{
													background-position:0% -27px;
													text-decoration:none;
												}
	
	div.xp-button a:active				{
													background-position:0% -27px;
													text-decoration:none;
												}

	div.xp-button a span					{
													float:left;
													background:url("../images/icons/button_right.gif") no-repeat right top;
													width:100%;
													text-align:center;
												}
	
	div.xp-button a:focus span 		{
													background-position:100% -27px;
													color:#fff;
												}
	
	
	div.xp-button a:hover span 		{
													background-position:100% -27px;
													color:#fff;
												}
	
	div.xp-button a:active span 		{
													background-position:100% -27px;
													color:#fff;
												}



/* ------ xp-button disabled ---------------- */

	div.xp-button-disabled				{
													float:left;
													height:21px;
													display:inline;
												}													
	
	div.xp-button-disabled .icon		{
													float:left;
													padding-left: 3px;
												}

	div.xp-button-disabled .label		{
													padding:3px 8px 4px 5px;
													float:left;
													font-family: Arial, Helvetica, sans-serif; font-size: 9pt;
													color:#F3F3F3;
													white-space:nowrap;
													text-align:center;
												}

	div.xp-button-disabled a			{
													float:left;
													padding:0 0 2px 3px;
													cursor:default;
													text-decoration:none;
													background:url("../images/icons/button_left.gif") no-repeat 0% -54px;
													min-width:80px;
												}
	
	div.xp-button-disabled a:focus 	{
													outline: none;
													text-decoration:none;
												}
	
	div.xp-button-disabled a:hover	{
													text-decoration:none;
												}
	
	div.xp-button-disabled a:active	{
													text-decoration:none;
												}

	div.xp-button-disabled a span		{
													float:left;
													background:url("../images/icons/button_right.gif") no-repeat 100% -54px;
													width:100%;
													text-align:center;
												}
	
	div.xp-button-disabled a:focus span {
													color:#888888;
												}
	
	
	div.xp-button-disabled a:hover span {
													color:#888888;
												}
	
	div.xp-button-disabled a:active span	{
													color:#888888;
												}

/* ------ blue toolbar buttons ---------------------------------- */
											
/* blue toolbar button (enabled) */

	div.tb-button-blue					{
													float:left;
													height:21px;
													display:inline;
													margin-top:1px;
												}													

	div.tb-button-blue .icon			{
													float:left;
												}

	div.tb-button-blue .label			{
													padding:3px 8px 4px 5px;
													float:left;
													font-family: Arial, Helvetica, sans-serif; font-size: 9pt;
													color:#ffffff;
													white-space:nowrap;
													text-align:center;
												}

	div.tb-button-blue a					{
													float:left;
													padding:0 0 0 3px;
													cursor:default;
													text-decoration:none;
													background:url("../images/icons/tb-button-blue_left.gif") no-repeat left top;
												}
	
	div.tb-button-blue a:focus			{
													outline: none;
													background-position:0% -24px;
													text-decoration:none;
												}
	
	div.tb-button-blue a:hover			{
													background-position:0% -24px;
													text-decoration:none;
												}
	
	div.tb-button-blue a:active		{
													background-position:0% -24px;
													text-decoration:none;
												}

	div.tb-button-blue a span			{
													float:left;
													background:url("../images/icons/tb-button-blue_right.gif") no-repeat right top;
													width:100%;
													text-align:center;
												}
	
	div.tb-button-blue a:focus span 	{
													background-position:100% -24px;
												}
	
	
	div.tb-button-blue a:hover span 	{
													background-position:100% -24px;
												}
	
	div.tb-button-blue a:active span {
													background-position:100% -24px;
												}


/* blue toolbar button (disabled) */

	div.tb-button-blue-disabled				{
															float:left;
															height:21px;
															display:inline;
															margin-top:1px;
														}													

	div.tb-button-blue-disabled .icon		{
															float:left;
														}

	div.tb-button-blue-disabled .label		{
															padding:3px 8px 4px 5px;
															float:left;
															font-family: Arial, Helvetica, sans-serif; font-size: 9pt;
															color:#8dbfff;
															white-space:nowrap;
															text-align:center;
														}

	div.tb-button-blue-disabled a				{
															float:left;
															padding:0 0 0 3px;
															cursor:default;
															text-decoration:none;
														}
	
	div.tb-button-blue-disabled a:focus		{
															outline: none;
															text-decoration:none;
														}
	
	div.tb-button-blue-disabled a:hover		{
															text-decoration:none;
														}
	
	div.tb-button-blue-disabled a:active	{
															text-decoration:none;
														}

	div.tb-button-blue-disabled a span		{
															float:left;
															width:100%;
															text-align:center;
														}
	

/* ------ main toolbar buttons ---------------------------------- */

/* main toolbar button (enabled) */

	div.tb-button-main					{
													float:left;
													height:23px;
													display:inline;
													margin-top:2px;
												}													
	
	div.tb-button-main .icon			{
													float:left;
													padding-right:3px;
												}

	div.tb-button-main .label			{
													padding:3px 8px 4px 2px;
													float:left;
													font-family: Arial, Helvetica, sans-serif; font-size: 9pt;
													white-space:nowrap;
													text-align:center;
												}

	div.tb-button-main a					{
													float:left;
													padding:0 0 0 3px;
													cursor:default;
													text-decoration:none;
													background:url("../images/icons/tb-button-main_left.gif") no-repeat left top;
												}
	
	div.tb-button-main a:focus			{
													outline: none;
													background-position:0% -24px;
													text-decoration:none;
												}
	
	div.tb-button-main a:hover			{
													background-position:0% -24px;
													text-decoration:none;
												}
	
	div.tb-button-main a:active		{
													background-position:0% -24px;
													text-decoration:none;
												}

	div.tb-button-main a span			{
													float:left;
													width:100%;
													background:url("../images/icons/tb-button-main_right.gif") no-repeat right top;
												}
	
	div.tb-button-main a:focus span 	{
													background-position:100% -24px;
												}
	
	
	div.tb-button-main a:hover span 	{
													background-position:100% -24px;
												}
	
	div.tb-button-main a:active span {
													background-position:100% -24px;
												}

/* main toolbar button (disabled) */
	
	div.tb-button-main-disabled				{
															float:left;
															height:23px;
															display:inline;
															margin-top:2px;
														}													
	
	div.tb-button-main-disabled .icon		{
															float:left;
															padding-right:3px;
														}

	div.tb-button-main-disabled .label		{
															padding:3px 8px 4px 5px;
															float:left;
															font-family: Arial, Helvetica, sans-serif; font-size: 9pt;
															color:#999999;
															white-space:nowrap;
															text-align:center;
														}

	div.tb-button-main-disabled a				{
															float:left;
															padding:0 0 0 3px;
															cursor:default;
															text-decoration:none;
														}
	
	div.tb-button-main-disabled a:focus		{
															outline: none;
															text-decoration:none;
														}
	
	div.tb-button-main-disabled a:hover				{
															text-decoration:none;
														}
	
	div.tb-button-main-disabled a:active	{
															text-decoration:none;
														}

	div.tb-button-main-disabled a span		{
															float:left;
															width:100%;
														}
	

/* ------ footer toolbar buttons ---------------------------------- */

/* footer toolbar button (enabled) */

	div.tb-button-footer					{
													float:left;
													height:23px;
													display:inline;
													margin-top:2px;
												}													
	
	div.tb-button-footer .icon			{
													float:left;
													padding-right:3px;
												}

	div.tb-button-footer .label		{
													padding:3px 8px 4px 2px;
													float:left;
													font-family: Arial, Helvetica, sans-serif; font-size: 9pt;
													color:#333333;
													white-space:nowrap;
													text-align:center;
												}

	div.tb-button-footer a				{
													float:left;
													padding:0 0 0 3px;
													cursor:default;
													text-decoration:none;
													background:url("../images/icons/tb-button-footer_left.gif") no-repeat left top;
												}
	
	div.tb-button-footer a:focus		{
													outline: none;
													background-position:0% -24px;
													text-decoration:none;
												}
	
	div.tb-button-footer a:hover		{
													background-position:0% -24px;
													text-decoration:none;
												}
	
	div.tb-button-footer a:active		{
													background-position:0% -24px;
													text-decoration:none;
												}

	div.tb-button-footer a span		{
													float:left;
													width:100%;
													background:url("../images/icons/tb-button-footer_right.gif") no-repeat right top;
												}
	
	div.tb-button-footer a:focus span 	{
													background-position:100% -24px;
												}
	
	
	div.tb-button-footer a:hover span 	{
													background-position:100% -24px;
												}
	
	div.tb-button-footer a:active span {
													background-position:100% -24px;
												}

/* footer toolbar button (disabled) */
	
	div.tb-button-footer-disabled				{
															float:left;
															height:23px;
															display:inline;
															margin-top:2px;
														}													
	
	div.tb-button-footer-disabled .icon		{
															float:left;
															padding-right:3px;
														}

	div.tb-button-footer-disabled .label	{
															padding:3px 8px 4px 5px;
															float:left;
															font-family: Arial, Helvetica, sans-serif; font-size: 9pt;
															color:#999999;
															white-space:nowrap;
															text-align:center;
														}

	div.tb-button-footer-disabled a			{
															float:left;
															padding:0 0 0 3px;
															cursor:default;
															text-decoration:none;
														}
	
	div.tb-button-footer-disabled a:focus	{
															outline: none;
															text-decoration:none;
														}
	
	div.tb-button-footer-disabled a:hover	{
															text-decoration:none;
														}
	
	div.tb-button-footer-disabled a:active	{
															text-decoration:none;
														}

	div.tb-button-footer-disabled a span	{
															float:left;
															width:100%;
														}
	


/* ------ buttons on white---------------------------------- */

/* button on white (enabled) */

	div.button-on-white						{
														float:left;
														height:18px;
														display:inline;
														margin-top:1px;
													}													
	
	div.button-on-white a					{
														float:left;
														padding:0 0 0 1px;
														cursor:default;
														text-decoration:none;
														background:url("../images/icons/button-on-white_left.gif") no-repeat left top;
														overflow: hidden;
													}
	
	div.button-on-white a:focus			{
														outline: none;
														background-position:0% -21px;
														text-decoration:none;
													}
	
	div.button-on-white a:hover			{
														background-position:0% -21px;
														text-decoration:none;
													}
	
	div.button-on-white a:active			{
														background-position:0% -21px;
														text-decoration:none;
													}

	div.button-on-white a span				{
														float:left;
														width:100%;
														height:18px;
														background:url("../images/icons/button-on-white_right.gif") no-repeat right top;
													}

	div.button-on-white .icon				{
														float:left;
														padding:0 0 0 0px;
														margin-right:5px;
													}

	.langCode div.button-on-white .icon				{
														margin-right:0px;
													}

	div.button-on-white .label				{
														padding-top: 2px;
														white-space: nowrap;
														float: left;
														color:#000000;
														overflow:hidden;
													}

	div.button-on-white a:focus span 	{
														background-position:100% -21px;
													}
	
	
	div.button-on-white a:hover span 	{
														background-position:100% -21px;
													}
	
	div.button-on-white a:active span	{
														background-position:100% -21px;
													}

/* -------- button util classes --------------------- */

	.confirm-message, .structure_editor_hack, .event-value
							{
								display: none;
							}
							
	
