/***********************************************************/
/*** Cascading Style Sheet Classes for catalog extension ***/
/***********************************************************/

/* --------------- abstractItemTreeNodeChip --------------------------------------------------------------------- */
table.abstractItemTreeNodeChip					{  }
.abstractItemTreeNodeChip td.aitncIcon			{ vertical-align:middle; }
.abstractItemTreeNodeChip td.aitncName			{ vertical-align:middle; text-align:left; }
.abstractItemTreeNodeChip td.aitncTreeIMG		{ vertical-align:top; text-align:left; }
.abstractItemTreeNodeChip td.aitncContext		{ vertical-align:top; text-align:left; }


/* --------------- classificationAttributeChip ------------------------------------------------------------------ */
table.classificationAttributeChip						{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse;  }
.classificationAttributeChip td 							{ padding: 0px; font-size: 9pt; vertical-align: top; }
.classificationAttributeChip .arrowButton				{ width: 20px; }
.classificationAttributeChip .errorspace				{ width: 30px; }
.classificationAttributeChip .noLocalizationFlag	{ width: 20px; }
.classificationAttributeChip td.isChangedSign		{ width: 7px; text-align: left; }
.classificationAttributeChip div.isChangedSign		{ width: 7px; text-align: left; }
.classificationAttributeChip td.description			{ vertical-align: middle; }
.classificationAttributeChip div.description			{ white-space: nowrap; }


/* --------------- classificationConditionChip ------------------------------------------------------------------ */
td.classificationConditionChip			{ padding-left:11px; width:130px; }
div.classificationConditionChip			{ white-space:nowrap; width:130px; overflow:hidden; }


/* --------------- classificationEditorChip --------------------------------------------------------------------- */
.classificationheading							{ padding:0 0 0 10px; font-weight: bold; }
.classificationattributes						{ padding: 10px 0 10px 0; }

table.unboundFeaturesHeader					{ margin-top:10px; }
table.unboundFeaturesHeader td.spacer		{ width:6px; }

table.unboundFeaturesList						{ margin-left:23px; margin-top:10px; }
.unboundFeaturesList tr							{ text-align:left; }
.unboundFeaturesList tr th.classCode		{ width:100px; }
.unboundFeaturesList tr td.classCode		{ width:100px; }
.unboundFeaturesList tr div.classCode		{ width:100px; padding-left:2px; }
.unboundFeaturesList tr th.className		{ width:150px; }
.unboundFeaturesList tr td.className		{ width:150px; }
.unboundFeaturesList tr div.className		{ width:150px; padding-left:2px; }
.unboundFeaturesList tr th.classDescr		{ width:150px; }
.unboundFeaturesList tr td.classDescr		{ width:150px; }
.unboundFeaturesList tr div.classDescr		{ width:150px; padding-left:2px; }
div.cecSpacer										{ height:10px; }


/* --------------- classificationVariantListChip ---------------------------------------------------------------- */
table.classificationVariantListChip				{ padding-right:10px; }
.classificationVariantListChip div.cvlc		{ width:100%;overflow:auto; }
.classificationVariantListChip .cvlcCheckbox	{ width:20px; border-right:0px; }
.cvlcIcon												{ width:28px; padding:0px; text-align:left; border-left:0px; }
.cvlcEntry												{ padding-left:3px; white-space:nowrap; overflow:hidden; }
.genericItemListChip .cvlcNewEntry				{ width:20px; border-left:1px solid #bbbbbb; padding:0px; }


/* --------------- classificationVariantListEntryChip ----------------------------------------------------------- */
table.cvlec								{ width:20px; }
.cvlec .cvlecIsChangedSign			{ width:5px; }
.cvlec .cvlecIsChangedSign div	{ width:5px; padding-top:5px; }


/* --------------- composedTypeTreeNodeChip --------------------------------------------------------------------- */
table.composedTypeTreeNodeChip				{  }
.composedTypeTreeNodeChip td.cttncIcon		{ vertical-align:middle; }
.composedTypeTreeNodeChip td.cttncName		{ vertical-align:middle; text-align:left; white-space:nowrap }
.composedTypeTreeNodeChip td.cttncTreeIMG	{ vertical-align:top; text-align:left; }
.composedTypeTreeNodeChip td.cttncContext	{ vertical-align:top; text-align:left; }


/* --------------- localizableClassificationAttributeChip ------------------------------------------------------- */
table.localClassAttrChip										{ padding: 0px; border-spacing: 0px; border-collapse: collapse; }
.localClassAttrChip td 											{ padding: 0px; font-size: 9pt; vertical-align: top; }
.localClassAttrChip td.arrowButton							{ width: 20px; }
.localClassAttrChip td.label									{ vertical-align:top; white-space:normal; }
.localClassAttrChip td.label div.disabled					{ color: silver; }
.localClassAttrChip .errorspace								{ width: 30px; }
.localClassAttrChip td.localized								{ padding:0px; vertical-align: top; text-align: right; }
.localClassAttrChip table										{ border-spacing: 0px; padding: 0px; border: 0px; border-collapse: collapse; }
.localClassAttrChip table tr 									{ text-align:left; height:25px; }
.localClassAttrChip table tr td.langCode 					{ width: 20px; text-align: left; }
.localClassAttrChip table tr td.langCode div.edit		{ width: 20px; white-space: nowrap; }
.localClassAttrChip table tr td.langCode div.noedit	{ width: 20px; white-space: nowrap; color: silver }
.localClassAttrChip table tr td.isChangedSign 			{ width: 7px; text-align: left; }
.localClassAttrChip table tr td.isChangedSign div 		{ width: 7px; text-align: left; }
.localClassAttrChip td.description							{ padding-top: 6px }
.localClassAttrChip span.description						{ white-space: nowrap; }


/* --------------- productComparisonChip ------------------------------------------------------------------------ */
table.productComparisonChip						{ margin:20px 10px 20px 10px; }
.productComparisonChip div							{ padding-left: 3px; }
.productComparisonChip td.pccProductCode		{ background-color:#e1e1e1; }
.productComparisonChip td.pccCompIcon			{ text-align:center; }

/* --------------- selectableAbstractItemTreeNodeChip ----------------------------------------------------------- */
table.selectableAbstractItemTreeNodeChip					{  }
.selectableAbstractItemTreeNodeChip td.satncIcon		{ vertical-align:middle; }
.selectableAbstractItemTreeNodeChip td.satncName		{ vertical-align:middle; text-align:left; white-space:nowrap }
.selectableAbstractItemTreeNodeChip td.satncTreeIMG	{ vertical-align:top; text-align:left; }
.selectableAbstractItemTreeNodeChip td.satncContext	{ vertical-align:top; text-align:left; }


