/************************************************************/
/*** Cascading Style Sheet Classes for document extension ***/
/************************************************************/

/* --------------- documentEditorChip -------------------------------------------------------------------------- */
table.documentEditorChip								{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse;  }
.documentEditorChip td 								{ padding: 0px; font-size: 9pt; vertical-align: top; }
.documentEditorChip .arrowButton					{ width: 20px; }
.documentEditorChip td.label									{ vertical-align:top; white-space:normal; }
.documentEditorChip td.label div.disabled					{ color: silver; }
.documentEditorChip .noLocalizationFlag			{ width: 20px; }
.documentEditorChip td.isChangedSign				{ width: 7px; text-align: left; }
.documentEditorChip div.isChangedSign				{ width: 7px; text-align: left; }
.documentEditorChip div.buttons						{ padding-left:10px; }
.documentEditorChip div.buttons a.createButton	{ width:160px; }
.hmc_waiticon {position: fixed;}

