/***********************************************************/
/*** Cascading Style Sheet Classes for cronjob extension ***/
/***********************************************************/

/* --------------- triggerTimeValuesEditorChip ----------------------------------------------------------------- */
table.triggerTimeValuesEditorChip							{ width:100%; height:100%; vertical-align:top; }
.triggerTimeValuesEditorChip td.ttvecHeaderSpacer		{ height:10px; }

.triggerTimeValuesEditorChip td.arrowButton				{ width: 20px; }
.triggerTimeValuesEditorChip td.label						{ width: 100px; }
.triggerTimeValuesEditorChip td.localAndChangedSign	{ width: 27px; }

.triggerTimeValuesEditorChip table.ttvecIntervals td	{ vertical-align:middle; }

.triggerTimeValuesEditorChip table.ttvecIntervals td.padder	{ padding-left:3px; }

.triggerTimeValuesEditorChip tr.spacerTR			{ padding-top:10px; }
.triggerTimeValuesEditorChip td.buttonPadder		{ padding-left:15px; } 
