*								{ -moz-box-sizing: border-box; box-sizing: border-box; }
.disabled					{ color: silver; }
select.disabled			{ color: silver; background-color: #ffffff; }
.error						{ color: red; }
.required					{ color: red; font-weight: bold; }
.menuentry 					{ font-family: Arial, Helvetica, sans-serif; font-size: 8pt;padding-left:5px;padding-right:5px;padding-top:1px;padding-bottom:3px;vertical-align: middle; white-space:nowrap;}
.contextMenu {
  width: 150px; 
  background-color: lightgrey; 
  border: 2px outset red; 
}
img							{ border: none }

html,table,form,body { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	letter-spacing: 0px;
	cursor:default;
	border: 0px;
	margin: 0px;
	padding: 0;
}

body { 
	padding: 8px 18px 8px 19px;
	background-image: url(src/images/body_back.png);
	background-repeat: repeat-x;
	background-color: #4B5366;
}


/* style definitions for property clips in non modal editors */
td.sectionheader			{ width: 100%; font-size:9pt; font-weight: bold; vertical-align: middle; color: #263966; padding: 5px 5px 10px 5px; }
td.sectionheader div.sh	{ width: 100%; border-bottom: 1px solid #bbbbbb; padding-left:5px; }

/* OrganizerComponent styles */
table.component 										{ width: 100%; border-collapse: collapse; border-width: 2px; margin-bottom:5px; text-align:left; }
table.component th 									{ text-align: left; font-size: 9pt; font-weight: bold; color: #444444; border-bottom: 1px solid #bbbbbb; text-decoration: none; white-space:nowrap; }
table.component th.arrowIcon						{ width:16px; }
table.component th.pinIcon							{ width:100%; }
table.component th.pinIcon div					{ padding-left:5px; }
table.component th.disabled						{ color: silver }


/* toolbar styles */
table.toolbar { 
	width: 100%;
	color: #fff;
	background-image: url(src/images/toolbar_back.gif);
	background-repeat: repeat-x;
	background-color: #2152C3;
	margin: 0;	
}

.content_td table.toolbar { 
	background-image: none;
	background-color: #2152c3;
}

td.icToolbar table.toolbar { 
	background-image: none;
	background-color: #2152c3;
}

table.toolbar td.leftActionChips {
	text-align: left;
	vertical-align:middle;
	padding: 4px 0 0 5px;
	height: 32px;
	background-color: transparent;
}

table.toolbar td.rightActionChips {
	text-align: right;
	vertical-align:middle; 
	padding: 4px 5px 0 0;
	height: 32px;
	background-color: transparent;
}

.content_td table.toolbar td.leftActionChips { padding: 0; height: 25px; }
.content_td table.toolbar td.rightActionChips { padding: 0; height: 25px; }

table.toolbar a { color: #fff; }
table.toolbar td 										{ color:#ffffff; }
table.toolbar td.leftCorners						{ width:7px; }
table.toolbar td.rightCorners						{ width:7px; }
table.toolbar td.noActionChips					{ vertical-align:top; font-size:1pt; }
table.toolbar td.rightActionChips table		{ text-align: right; }
table.toolbar td.rightActionChips table tr	{ text-align: right; }
table.toolbar td.fill								{ background-color: #b2bac7; }

.explorer_top td { border-top: 1px solid #fff; font-size: 1px; height: 6px; }
	
/* footer styles */
table.footer  				{ background-color:#e1e1e1; }		/* old style */
table.footer td				{ white-space:nowrap; }			
table td.footer				{ background-color:#e1e1e1; }		/* new style */
table.footer td a:link		{ color:#000000; text-decoration:none; }
table.footer td a:visited	{ color:#000000; text-decoration:none; }
table.footer td a:hover		{ color:#000000; text-decoration:none; }
table.footer td a:active	{ color:#000000; text-decoration:none; }
table.footer td a:focus		{ color:#000000; text-decoration:none; outline: none; }



/* attribute styles */
table.attribute			{ padding-top:2px; }
table.attribute td 		{ font-size: 9pt; vertical-align: top; white-space:nowrap; }

/* list styles */
table.listtable							{ width: 100%; background-color: #ffffff; font-family: Arial; font-size: 8pt; border-collapse: collapse; border:1px solid #bbbbbb; }
table.listtable th						{ text-align: left; background-color: #e1e1e1; border: 1px solid #bbbbbb; padding:0px; }
table.listtable tr						{ height: 25px; }
table.listtable td						{ vertical-align:middle; border-bottom: 1px solid #bbbbbb; font-size: 8pt; color:#000000; }
table.listtable td input				{ white-space:nowrap; overflow:hidden; }
table.listtable td table td			{ border-bottom: 0px; font-size: 8pt; }
table.listtable td.selected			{ background-color: #e6eef9; }
table.listtable td.sorted				{ background-color: #e6eef9; }
table.listtable td.disabled			{ color: silver; width:100%; border: 1px solid #bbbbbb; }
table.listtable td.disabled div		{ padding-left:2px; width:100%; text-align:left; }
table.listtable td.selectedsorted	{ background-color: #d3e3f5; }
table.listtable td a.normallink:link			{ color:#000000; text-decoration:none; }
table.listtable td a.normallink:visited		{ color:#000000; text-decoration:none; }
table.listtable td a.normallink:hover			{ color:#000000; text-decoration:underline; }
table.listtable td a.normallink:active			{ color:#000000; text-decoration:underline; }
table.listtable td a.normallink:focus			{ color:#000000; text-decoration:underline; outline: none; }
table.listtable .checkbox input		{ visibility:hidden; width:5px; overflow:hidden; }


/* preview styles */
table.previewtable							{ width: 100%; background-color: #ffffff; font-family: Arial; font-size: 8pt; border-collapse: collapse; border-width: 2px; }
table.previewtable th						{ text-align: left; background-color: #e1e1e1; border: 1px solid #bbbbbb; padding-top:2px; padding-left:3px; }
table.previewtable tr						{ height: 21px; border: 1px solid #bbbbbb;}
table.previewtable td						{ border: 1px solid #bbbbbb; padding-left:4px; padding-top:2px; padding-bottom:2px; font-size: 8pt; color:#000000; }

/* tree table styles */
table.treetable							{ width: 100%; background-color: #ffffff; font-family: Arial; font-size: 8pt; border-collapse: collapse; border: 2px solid #bbbbbb; }
table.treetable th						{ text-align: left; background-color: #e1e1e1; border: 1px solid #bbbbbb; }
table.treetable tr						{ height: 25px }
table.treetable td						{ padding-left: 0px; color:#000000 }
table.treetable td.selected			{ background-color: #e6eef9; }
table.treetable td.sorted				{ background-color: #e6eef9; }
table.treetable td.selectedsorted	{ background-color: #d3e3f5; }


/* TODO mr umbenennen */
.componentformelement {
	font-size: 10px;
	border: 1px solid #CDCDCD;
}
.editortab 						{ background-color:#e1e1e1; vertical-align: middle; text-decoration:none; font-size: 9pt; white-space:nowrap; }
.editortab_main				{ background-color:#f2f2f5; vertical-align: middle; text-decoration:none; font-size: 9pt; white-space:nowrap; }
.editortab_active				{ background-color:#ffffff; vertical-align: middle; text-decoration:none; font-size: 9pt; white-space:nowrap; }
.editortab_main_active 		{ background-color:#ffffff; vertical-align: middle; text-decoration:none; font-size: 9pt; white-space:nowrap; }
.editortab_alt					{ background-color:#e1e1e1; vertical-align: middle; text-decoration:none; font-size: 9pt; white-space:nowrap; }
.editortab_alt_active		{ background-color:#f2f2f5; vertical-align: middle; text-decoration:none; font-size: 9pt; white-space:nowrap; }
.editorformdisabled        { border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; }

.editorform {
	background-image: url(src/images/textinput_back.gif);  	
	background-position: center bottom;
	background-repeat: repeat-x;
	border: 1px solid #CDCDCD;
	padding: 2px;
	font-family: Arial;
	font-size: 11px;
	color: #666;
}

.login_screen_hmc {
	background-image: url(src/images/login-hmc.png);
	background-repeat: no-repeat;
	width: 310px;
	height: 450px;
	padding: 0;
	color: #fff;
}

.login_screen input {
	background-image: url(src/images/textinput_back.gif);  	
	background-position: center bottom;
	background-repeat: repeat-x;
	border: 1px solid #CDCDCD;
	padding: 2px;
	font-family: Arial;
	font-size: 11px;
	color: #666;
}

.login_screen_hmc .loginClass {
  color: #fff;
  margin-top: 240px;
  margin-right: 41px;
}

.login_screen_hmc .loginClass td {
 text-align: left;
 padding-bottom: 10px;
}

.login_screen_hmc .loginClass td:first-child {
 padding-right: 10px;
}

.login_screen .xp-button a {
	display: inline-block;
	width: auto;
	min-width: 80px;
	height: 25px;
	padding-top: 3px;
	border: none;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	font-family: roboto, Arial, sans-serif;
	font-weight: normal; /**bold**/
	font-size: 16px; /**14**/
	text-transform: uppercase;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.48);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.48);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.48);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.48);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eed43c, endColorstr=#cab433);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eed43c, endColorstr=#cab433);
	background-color: #cab433;
	background-image: -moz-linear-gradient(top, #eed43c, #cab433);
	background-image: -ms-linear-gradient(top, #eed43c, #cab433);
	background-image: -o-linear-gradient(top, #eed43c, #cab433);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#eed43c),
		to(#cab433) );
	background-image: -webkit-linear-gradient(top, #eed43c, #cab433);
	background-image: linear-gradient(top, #eed43c, #cab433);
	cursor: pointer;
	color: #000;
	text-align: center;
}

.login_screen .xp-button a {
	background-image: none;
	background-color: #eed43c;
}

.login_screen .xp-button a span.label {
	background-image: none;
	color: #000;
}

.login_screen input[type="text"], .login_screen input[type="password"] {
	width: 140px;
	height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #21428b;
	padding: 4px 6px;
	color: #8a8fa3;
	font-size: 14px;
	background: #13275a;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.15) inset;
	-webkit-box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
	transition: border linear .2s, box-shadow linear .2s;
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 200;
	font-style: normal;
}

.rightActionChips .editorform { background-image: url(src/images/textinput_back_blue.gif); }

/* just for testing/debugging, puts a red border around the element */
.debug			{  border:1px solid red; }

/* for JavaScript Dropdown Menu */
.rootItem { text-decoration: none; color: #FFFFFF; font-size: 9pt }
.menuItem { text-decoration: none; color: #FFFFFF; font-size: 9pt }
.itemBorder { border: 0px solid #FF0000 }

/* style definitions for general links */
a:link						{ color:#263966; text-decoration:none; }
a:visited					{ color:#263966; text-decoration:none; }
a:hover						{ color:#263966; text-decoration:underline; }
a:active						{ color:#263966; text-decoration:underline; }
a:focus						{ color:#263966; text-decoration:underline; outline: none; }
a								{ cursor:default; }

/* style definitions for image links */
a.imagelink					{ border:solid 1px #f2f2f5; text-decoration:none; }
a.imagelink:hover 		{ border:dotted 1px #7c9eb9; text-decoration:none; }
a.imagelink:focus 		{ border:dotted 1px #7c9eb9; text-decoration:none; }
a.imagelink:active 		{ border:dotted 1px #7c9eb9; text-decoration:none; }

/* comment out for debug view

.generic
{
	border:solid #004444  2px
}
tr.generic
{
	border:solid #448800 2px
}
td.generic
{
	border:solid #00ff00 green 2px
}
*/


/* --------------- selecttable --------------------------- */

		table.selecttable							{
															-moz-user-select: -moz-none;
															border-collapse:collapse;
														}
		
		table.selecttable tr.hover				{
															background-color: #fafcff;
														}

		table.selecttable tr.selected			{
															background-color: #e6eef9;
														}

		table.selecttable tr.hoverselected	{
															background-color: #e2eaf5;
														}
												
		table.selecttable .checkbox input	{
															visibility:hidden;
															width:5px;
															overflow:hidden;
														}
														

/* --------------- autocomplete --------------------------- */


	div.autocomplete 							{
															white-space:nowrap;
															position:absolute;
															color:#000000;
															font-size: 8pt;
															background-color:white;
															border:1px solid #888;
															margin:0px;
															padding:0px;
															width: 350px;
														}

	div.autocomplete table						{
															border-collapse: collapse;
															height: 13px;
															overflow:hidden;
															border:0px;
														}
	
	div.autocomplete td							{
															color: #000000;
															height:13px;
															font-size: 8pt;
															overflow:hidden;
														}

	div.autocomplete .selected td				{
															color: #ffffff;
														}

	div.autocomplete ul							{
															list-style-type:none;
															margin:0px;
															padding:0px;
														}

	div.autocomplete .more						{
															padding:2px;
															height:15px;
															color:#bbbbbb;
															text-align:center;
														}

	div.autocomplete ul li.selected			{
															background-color: #0a246a;
															color: #ffffff;
														}
													
	div.autocomplete ul li span.hidden		{
															display:none;
														}

	div.autocomplete ul li .additional		{
															display: inline;
															color: #777777;
															font-size: 0.9em;
															text-align: right;
															padding-right:3px;
														}

	div.autocomplete ul li.selected .additional
														{
															color: #dddddd;															
														}

	div.autocomplete .reset
														{
															width:100%;
															color: #777777;
															text-align: center;
														}

	div.autocomplete ul li.selected .reset
														{
															color: #dddddd;
														}

	div.autocomplete ul li						{
															list-style-type:none;
															display:block;
															margin:0;
															padding:0 2px 2px 4px;
															height:13px;
															overflow:hidden;
															cursor:pointer;
														}

	.toolbar-autocomplete .label				{
															padding-top:1px;
															padding-left:3px;
															white-space: nowrap;
														}

	.toolbar-autocomplete input				{
															font-size: 8pt;
															border:0;
															height:15px;
															margin:1px 3px 0 5px;
															padding-left:3px;
														}

/* ----------------------------------------------------------- */

	.hidden	{
					display:none;
				}

.page-header {
	height: 71px;
	background-image: url(src/images/head_backgr.gif);
	background-repeat: repeat-x;
	background-color: #2152C3;
	color: #ffffff;
	vertical-align:top;
	text-align:left;
	white-space:nowrap;
	color: #ffffff;
	font-size: 10px;
}
														
.page-header td { border-bottom: 0; padding: 6px 0 0 4px; }
.page-header td.page-header-right { padding-top: 0; }
							
	.language-toggle a div.tenantIDStr						{
															display: none;
														}

/* -------- pop up messages (error and info) ----------------------- */

	div.popupmessage-error						{
															position:absolute;
															z-index:1001;
															width:500px;
															height:180px;
															border:2px outset #bbbbbb;
															background-color:white;
														}

	div.popupmessage-error table				{
															background-color: #e1e1e1;
															width:100%;
															height:100%;
															vertical-align:top;
														}

	div.popupmessage-error th					{
															color: #ffffff;
															text-align: center;
															font-weight:bold;
															font-size:12pt;
															overflow:hidden;
															padding-bottom:5px;
															height:20px;
														}

	div.popupmessage-error td.icon			{
															vertical-align:top;
															padding: 30px 10px 30px 30px;
															text-align:center;
														}

	div.popupmessage-error td.text			{
															vertical-align:top;
															padding: 30px 30px 30px 10px;
															text-align:left;
														}

	div.popupmessage-error td.button			{
															text-align:center;
															padding-bottom:20px;
														}

	div.popupmessage-error .title				{
															padding: 4px 0 4px 0;
															background-color: #3566f0;
															overflow:hidden;
															cursor: move;
														}

	div.popupmessage-info						{
															position:absolute;
															z-index:1001;
															width:500px;
															height:180px;
															border:2px outset #bbbbbb;
															background-color:white;
														}

	div.popupmessage-info table				{
															background-color: #e1e1e1;
															width:100%;
															height:100%;
															vertical-align:top;
														}

	div.popupmessage-info th					{
															color: #ffffff;
															text-align: center;
															font-weight:bold;
															font-size:12pt;
															overflow:hidden;
															padding-bottom:5px;
															height:20px;
														}

	div.popupmessage-info td.icon				{
															vertical-align:top;
															padding: 30px 10px 30px 30px;
															text-align:center;
														}

	div.popupmessage-info td.text				{
															vertical-align:top;
															padding: 30px 30px 30px 10px;
															text-align:left;
														}

	div.popupmessage-info td.button			{
															text-align:center;
															padding-bottom:20px;
														}

	div.popupmessage-info .title				{
															padding: 4px 0 4px 0;
															background-color: #3566f0;
															overflow:hidden;
															cursor: move;
														}
														


.divider_td {
	background-color: CEDEF2;
	background-image: url(src/images/divider_back.gif);
	background-repeat: repeat-y;
	background-position: right;
}

iframe { border: 0; }

input.checkbox { border: 0; background-color: transparent; background-image: none; }

.copyrightTable {
	margin-left: 20px;
}

table.copyrightTable td {
	font-size: 90%;
	color: #666;
}