/* ------ dropdown menus ---------------------------------- */

	/* ----------- main toolbar ---------------- */
	
	div.dropdown-main							{
														padding: 4px;								/* padding between menuentries and surrounding border */
														border: 1px solid #5b75a0;				/* border of the menu */
														background-color: #e7eaec;				/* background color of the menu */
														
														border-spacing: 0px;
													}

	div.dropdown-main table					{
														border-collapse:collapse;
													}
													
	div.dropdown-main td						{
														color: #333333;										/* font color of normal menu entries */
														font-family: Arial, Helvetica, sans-serif;	/* font family of the menu entries */
														font-size: 8pt;										/* font size of the menu entries */
														
														border: 0px;
														padding: 0px;
														height: 18px;
													}
													
	div.dropdown-main td.disabled			{
														color: #808080;							/* font color of disabled menu entries */
													}

	div.dropdown-main td.title				{
														padding: 3px; 
														font-size: 1.2em; 
														font-weight: bold;
														width: 100%;
													}

	div.dropdown-main td.icon				{
														text-align:center;
														padding: 0 5px 0 3px;
													}
													
	div.dropdown-main td.icon img			{
														vertical-align: middle;
													}

	div.dropdown-main td.name				{
														padding-right: 3px;
														white-space: nowrap;
														width: 100%;
													}

	div.dropdown-main tr						{
														margin: 0px;
													}
													
	div.dropdown-main tr.highlight		{
														background-color: #cbced0;		/* background color of a highlighted entry */
													}

	div.dropdown-main .heading				{
														color:#333333;
														font-weight:bold;
														padding-top:3px;
													}

	div.dropdown-main .splitter			{
														color: #b4b5b6;
													}
	
	/* ----------- blue toolbar ---------------- */
	
	div.dropdown-blue							{
														padding: 4px;								/* padding between menuentries and surrounding border */
														background-color: #5d9def;				/* background color of the menu */
														
														border-spacing: 0px;
													}

	div.dropdown-blue table					{
														border-collapse:collapse;
													}
													
	div.dropdown-blue td						{
														color: #ffffff;										/* font color of normal menu entries */
														font-family: Arial, Helvetica, sans-serif;	/* font family of the menu entries */
														font-size: 9pt;										/* font size of the menu entries */
														
														border: 0px;
														padding: 0px;
														height: 18px;
													}
													
	div.dropdown-blue td.disabled			{
														color: #8dbfff;							/* font color of disabled menu entries */
													}

	div.dropdown-blue td.title				{
														padding: 3px; 
														font-size: 1.2em; 
														font-weight: bold;
														width: 100%;
													}

	div.dropdown-blue td.icon				{
														text-align:center;
														padding: 0 5px 0 3px;
													}
													
	div.dropdown-blue td.icon img			{
														vertical-align: middle;
													}

	div.dropdown-blue td.name				{
														padding-right: 3px;
														white-space: nowrap;
														width: 100%;
													}

	div.dropdown-blue tr						{
														margin: 0px;
													}
													
	div.dropdown-blue tr.highlight		{
														background-color: #0d43da;		/* background color of a highlighted entry */
													}
								
	div.dropdown-blue .heading				{
														color:#ccddff;
														font-weight:bold;
														padding-top:3px;
													}
													
	div.dropdown-blue .splitter			{
														color: #ccddff;
													}
