/* ------ item history ---------------------------------- */
											
	div.itemhistory						{
													border: 1px solid #bbbbbb;
													background-color: #ffffff;
													height:140px; 
													width:191px;
													position: absolute;
												}

	div.itemhistory a						{
													text-decoration:none;
												}
													
	div.itemhistory th					{
													color: #ffffff;
													text-align: center;
													font-weight:normal;
													overflow:hidden;
													padding-bottom:5px;
												}

	div.itemhistory td.highlight		{
													background-color: #e9e9eb;
												}

	div.itemhistory .title				{
													padding: 2px 0 2px 0;
													background-image:url(src/images/button_back.gif);
													width:189px;
													overflow:hidden;
													cursor: move;
												}

	div.itemhistory .entry				{
													width:149px;
													overflow:hidden;
													margin: 0px 20px 0 20px;
													height:20px;
												}

	div.itemhistory .entry td			{
													white-space:nowrap;
													font-size:8pt;
													padding: 2px 0 2px 0;
												}
												
	div.itemhistory img					{
													margin-right:5px;
												}
												
/* ------ arrow for localizable attributes and for the organizer components (search, result, editor) ---------------------------------- */

	div.arrow-button 								{
															width: 16px;
															height: 16px;
														}
											
	div.arrow-button a							{
															float:left;
															width: 16px;
															height:16px;
															background:url("../images/icons/arrow-button.gif") no-repeat 0px 0px;
														}

	div.arrow-button a.expand:focus			{
															background-position: 0 -16px;
														}
														
	div.arrow-button a.expand:hover			{
															background-position: 0 -16px;
														}

	div.arrow-button a.expand:active			{
															background-position: 0 -16px;
														}

	div.arrow-button a.collapse				{
															background-position: 0 -32px;
														}
															
	div.arrow-button a.collapse:focus		{
															background-position: 0 -48px;
														}
														
	div.arrow-button a.collapse:hover		{
															background-position: 0 -48px;
														}

	div.arrow-button a.collapse:active		{
															background-position: 0 -48px;
														}

/* ------ pin button for organizer components (small lock symbol) ---------------------------------- */

	div.pin-button 								{
															width:18px;
															height: 16px;
														}
											
	div.pin-button a								{
															float:left;
															width:18px;
															height:16px;
															background:url("../images/icons/pin-button.gif") no-repeat 0px 0px;
														}

	div.pin-button a.locked:focus				{
															background-position: 0 -16px;
														}
														
	div.pin-button a.locked:hover				{
															background-position: 0 -16px;
														}

	div.pin-button a.locked:active			{
															background-position: 0 -16px;
														}

	div.pin-button a.unlocked					{
															background-position: 0 -32px;
														}
															
	div.pin-button a.unlocked:focus			{
															background-position: 0 -48px;
														}
														
	div.pin-button a.unlocked:hover			{
															background-position: 0 -48px;
														}

	div.pin-button a.unlocked:active			{
															background-position: 0 -48px;
														}
														
