/* --------------- general tree --------------------------- */

	.tree-toggle .plus							{
															background:url("../images/tree-toggle.gif") no-repeat left top;
															width: 16px;
															height: 16px;
														}

	.tree-toggle .plus-begin					{
															background:url("../images/tree-toggle.gif") no-repeat 0px -16px;
															width: 16px;
															height: 16px;
														}

	.tree-toggle .plus-end							{
															background:url("../images/tree-toggle.gif") no-repeat 0px -32px;
															width: 16px;
															height: 16px;
														}

	.tree-toggle .minus							{
															background:url("../images/tree-toggle.gif") no-repeat 0px -48px;
															width: 16px;
															height: 16px;
														}

	.tree-toggle .minus-begin					{
															background:url("../images/tree-toggle.gif") no-repeat 0px -64px;
															width: 16px;
															height: 16px;
														}

	.tree-toggle .minus-end						{
															background:url("../images/tree-toggle.gif") no-repeat 0px -80px;
															width: 16px;
															height: 16px;
														}

	.tree-wait-message							{
															padding:0 0 2px 22px;
															color: #888888;
														}

	.tree-toggle .chip-id						{
															display: none;
														}

	.tree-toggle .tenantIDStr						{
															display: none;
														}

	table.tree .vertical							{
															background:url("../images/vert.gif") repeat-y;
														}
														
	table.tree .horizontal						{
															width:16px;
															height:16px;
															background:url("../images/horiz.gif") no-repeat;
														}

	table.tree .end								{
															width:16px;
															height:16px;
															background:url("../images/end.gif") no-repeat;
														}														

table.tree td {
	vertical-align: top;
	height: 18px;
	white-space: nowrap;
}

table.tree table.tree td {
	vertical-align: middle;
	height: 18px;
}

table.tree table.tree td.toggle-top 		{
															vertical-align: top;
														}

table.tree table.tree td 						{
															vertical-align: top;
														}

/* --------------- explorer tree --------------------------- */


	table.explorer									{ 
															font-size: 8pt;
															color:#000000;
														}
														
	table.explorer a:link						{
															color:#000000; 
															text-decoration:none; 
														}

	table.explorer a:visited					{ 
															color:#000000; 
															text-decoration:none; 
														}
														
	table.explorer a:hover						{ 
															color:#000000; text-decoration:underline; 
														}
														
	table.explorer a:active						{ 
															color:#000000; 
															text-decoration:underline; 
														}
														
	table.explorer a:focus						{ 
															color:#000000; 
															text-decoration:underline; 
															outline: none; 
														}
														
table.explorer .selected { background-color:#c6d7ec; margin-left: 2px; padding-left: 3px; font-weight: bold; }
														
	table.explorer .label						{
															width: 30px; 
															height: 16px;
															padding: 1px 5px;
															white-space:nowrap; 
														}
														

