html, body {
	height: auto;
	min-height: 100%
}

body{
	background-color: #162c5e;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#1d346b', endColorstr = '#162c5f');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#1d346b', endColorstr = '#162c5f')";
	background: -moz-linear-gradient(top, #1d346b, #162c5f) #162c5e;
	background: -ms-linear-gradient(top, #1d346b, #162c5f) #162c5e;
	background: -o-linear-gradient(top, #1d346b, #162c5f) #162c5e;
	background: -webkit-gradient(linear, center top, center bottom, from(#1d346b), to(#162c5f)) #162c5e;
	background: -webkit-linear-gradient(top, #1d346b, #162c5f) #162c5e;
	background: linear-gradient(top, #1d346b, #162c5f) #162c5e;
	padding: 0;
}

.z-page,
.z-window-embedded,
.z-window-embedded-cnt-noborder,
.z-window-embedded-cnt,
.z-window-embedded-cnt > div{
	background: transparent!important;
	border: none;
}

.z-window-embedded-cnt > div{
	overflow: auto;
}


.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.login_grid {
	margin: 10% auto 20px;
	padding-top: 150px;
	background: url("images/foc_transparent.png") no-repeat transparent;
	width: 316px;
}

.login_grid form {
  margin: 0 0 20px;
}

.login_grid label,
.login_grid .z-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #fff;
}

.login_grid .z-checkbox-cnt {
  margin: 3px 0 0 0;
}

.login_grid input[type="text"],
.login_grid input[type="password"]{
	width: 97%;
	height: 28px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	border:1px solid #21428b;
	padding: 4px 6px;
  	margin-bottom: 9px;
	color: #8a8fa3;
	font-size: 14px;
	
	background: #13275a;
	
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
 	border-radius: 1px;
	
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.15) inset;
    -webkit-box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
   
   	transition: border linear .2s, box-shadow linear .2s;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;  
}

.login_grid input:focus,
.login_grid select:focus{
	color: #fff;
	border: 1px solid #8a8fa3;
	-webkit-box-shadow:none;
}

.login_grid select{
	width: 97%;
	height: 30px;
	display: inline-block;
	outline: none;
	
	border:1px solid #21428b;
	padding: 4px 6px;
  	margin-bottom: 9px;
  	
  	-webkit-appearance:none;
	
	color: #8a8fa3;
	font-size: 14px;
	
	background: url(images/selectbox_arrow.png) no-repeat center right #13275a;
	
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
 	border-radius: 1px;
	
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.15) inset;
    -webkit-box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
   
   	transition: border linear .2s, box-shadow linear .2s;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;  
}


.login_grid input[type="submit"]{
	display: inline-block;
	width: 90px;
	height: 28px;
	
	border: none;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
 	border-radius: 1px;
 	
 	font-weight: bold;
 	font-size: 14px;
 	text-transform: uppercase;
 	
 	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.48);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.48);

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eed43c', endColorstr = '#cab433');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eed43c', endColorstr = '#cab433')";
	background-color: #cab433;
	background-image: -moz-linear-gradient(top, #eed43c, #cab433);
	background-image: -ms-linear-gradient(top, #eed43c, #cab433);
	background-image: -o-linear-gradient(top, #eed43c, #cab433);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#eed43c), to(#cab433));
	background-image: -webkit-linear-gradient(top, #eed43c, #cab433);
	background-image: linear-gradient(top, #eed43c, #cab433);
}

.login_grid input[type="submit"]:hover{
	background-image: none;
	background-color: #eed43c;
}

.login-checkbox{
		margin: 15px 0 10px 0;
		display: block;
}

.login-checkbox lable, 
.login-checkbox input{
	float: left;
}

.login-checkbox input{
	margin-right: 10px;
}


