/* GENERAL STYLES - START */

*{
	font-family: 'Roboto'!important;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

img {
  max-width: 100%;
  width: auto\9;
  height: auto; 

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.grid-30,
.grid-50,
.grid-70,
.grid-90 {
    float: left;
}

.grid-50{
	width: 49%;
	margin: 0 2% 0 0;
}

.grid-30{
	width: 29%;
	margin: 0 2% 0 0;
}

.grid-70{
	width: 69%;
	margin: 0 2% 0 0;
}

.grid-30:last-child,
.grid-50:last-child,
.grid-70:last-child,
.grid-90:last-child{
	margin:0;
}



.pull-right{
	float: right;
}

.pull-left{
	float: left;
}

.pull-text-right{
	text-align: right;
}

@font-face {
    font-family: 'Roboto';
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-Regular-webfont.eot');
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Regular-webfont.woff') format('woff'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Regular-webfont.ttf') format('truetype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-Italic-webfont.eot');
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Italic-webfont.woff') format('woff'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Italic-webfont.ttf') format('truetype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-Bold-webfont.eot');
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Bold-webfont.woff') format('woff'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Bold-webfont.ttf') format('truetype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-BoldItalic-webfont.eot');
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-Thin-webfont.eot');
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Thin-webfont.woff') format('woff'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Thin-webfont.ttf') format('truetype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-ThinItalic-webfont.eot');
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); (under the Apache Software License). 
    font-weight: 200;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-Light-webfont.eot');
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Light-webfont.woff') format('woff'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Light-webfont.ttf') format('truetype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 100;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-LightItalic-webfont.eot');
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-LightItalic-webfont.woff') format('woff'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-Medium-webfont.eot');
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Medium-webfont.woff') format('woff'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Medium-webfont.ttf') format('truetype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-MediumItalic-webfont.eot');
    src: url('/instore/fonts/roboto-fontfacekit/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('/instore/fonts/roboto-fontfacekit/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

.z-modal-mask {
	background: none repeat scroll 0 0 #000;
}

div.z-window-highlighted.z-window-highlighted-noborder {
	border-radius: 0;
	background-color: #fff;
	padding: 0;
	-webkit-box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.6);
	
}

.z-window-highlighted-tr,
.z-window-highlighted-tl,
.z-window-highlighted-hl,
.z-window-highlighted-hr,
.z-window-highlighted-hm {
	background:  #4C5C76;
}

.z-window-highlighted-icon.z-window-highlighted-close {
	height: 48px;
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMUlEQVQYlWNgIAWwa4X+Z9cK/U9QHCaALIhNDEMCpyJcigm6lSTTCLoPr2eIDh5iAABzFjzJfVTuiwAAAABJRU5ErkJggg==') no-repeat center #fff;
	border:none;
	border-radius:0;
}

.z-window-highlighted-icon-img {
 	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMUlEQVQYlWNgIAWwa4X+Z9cK/U9QHCaALIhNDEMCpyJcigm6lSTTCLoPr2eIDh5iAABzFjzJfVTuiwAAAABJRU5ErkJggg==') no-repeat center #fff;
}

.z-window-highlighted-header {
	color: #fff;
  font-size: 24px;
  font-weight: 200;
  text-shadow: none;
  background-color: #4c5c76;
  padding-left: 8px;
  position: relative;
}
