@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,400italic,300italic,500,500italic,700,700italic,900,900italic);
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.invalid {
	border-color: lightcoral;
	-webkit-box-shadow: 0 0 7px 0 lightcoral;
	-moz-box-shadow:    0 0 7px 0 lightcoral;
	box-shadow:         0 0 7px 0 lightcoral;
}
body {
  padding: 101px 0 50px 0;
  background: #f0f0f0;
  font-family: "Roboto";
}
body a:focus {
  outline: none;
}
body .popover {
  z-index: 100000;
  border: 1px solid #ececec;
  border-radius: 0;
}
body .popover.left > .arrow {
  border-left-color: #ececec;
}
body .popover .revokePopover {
  margin: 0 -14px;
}
body .popover .revokePopover .body,
body .popover .revokePopover .actions {
  padding: 0 15px;
}
body .popover .revokePopover .body {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
    -webkit-background-size: 25px 28px;
  background-size: 25px 28px;
}
body .popover .revokePopover .actions {
  padding-top: 10px ;
}
body .navbar {
  background: #27394f;
  border: 0;
  border-radius: 0;
}
body .navbar #restUrlConfigPanel {
  background: #f0f0f0;
}
body .navbar #restUrlConfigPanel form {
  padding: 8px 70px;
}
body .navbar #restUrlConfigPanel form .form-group {
  width: 100%;
  margin: 8px 0;
}
body .navbar .menu {
  float: left;
  color: #fff;
}
body .navbar .form-group {
  margin: 8px 70px;
}
body .navbar .logo {
  float: right;
  margin: 13px 0;
}
body .navbar .secondLine {
  background: #f0f0f0;
  border-bottom: 1px solid #b1b1b1;
}
body .navbar .secondLine .subHeader {
  max-height: 50px;
  padding: 8px 0;
}
body .navbar .secondLine .subHeader .back a {
  font-size: 16px;
  line-height: 34px;
}
body .navbar .secondLine .subHeader .headline {
  text-align: center;
  font-size: 16px;
  line-height: 34px;
}
body #alerts {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 10000;
}
body .listGrants .toolbar {
  margin: 10px 0;
}
body .resultList .item {
  display: block;
  background: #fff;
  min-height: 130px;
  margin: 0 0 30px 0;
  padding: 10px 55px 10px 10px;
  border-left: 5px solid #d66;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

body .resultList .item.active {
  border-color: #27394f;
}

body .listGrants .resultList .item .description {
  height: 110px;
}
body .resultList .item .entitlementType {
  font-size: 16px;
  font-weight: bold;
}
body .resultList .item .control {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 45px;
  border-left: 1px solid #f0f0f0;
}
body .resultList .item .control .control-element {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 20px;
  display: block;
}
body .resultList .item .control .control-element.pause {
  color: #0054ae;
  border-bottom: 1px solid #f0f0f0;
}
body .resultList .item .control .control-element.delete {
  color: #bc0000;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #f0f0f0;
}
body .resultList .item .control .popover {
  left: -276px !important;
}
body .resultList .item.addGrant {
  padding: 0;
  background: #f3f3f3;
  border-color: #f9f9f9;
  text-align: center;
  line-height: 130px;
  font-size: 20px;
  font-weight: 300;
}
body .resultList .item.addGrant a {
  display: block;
  color: inherit;
}
body .detailGrant .firstlevelCollapseHeader {
  display: block;
  background: #0054ae;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 0 15px;
  text-decoration: none !important;
}
body .detailGrant .firstlevelCollapseHeader span {
  margin: 0 15px 0 0;
  display: none;
}
body .detailGrant .firstlevelCollapseHeader span.glyphicon-chevron-down {
  display: inline-block;
}
body .detailGrant .firstlevelCollapseHeader.collapsed span.glyphicon-chevron-down {
  display: none;
}
body .detailGrant .firstlevelCollapseHeader.collapsed span.glyphicon-chevron-right {
  display: inline-block;
}
body .detailGrant .firstlevelCollapseHeader span.glyphicon-chevron-right {
  display: none;
}
body .detailGrant .firstlevelCollapseBody {
  background: #fff;
}
body .detailGrant .firstlevelCollapseBody .inner {
  padding: 20px 20px;
}
body .detailGrant .secondlevelHeader {
  display: block;
  line-height: 16px;
  height: 16px;
  color: #000;
  font-size: 12px;
  font-weight: 300;
  margin: 10px -20px;
  text-decoration: none !important;
  position: relative;
}
body .last-col {
	text-align: right;
	margin-bottom: 15px;
}
body .detailGrant .secondlevelHeader .title {
  position: absolute;
  background: #fff;
  float: left;
  padding: 0 15px;
  margin: 0 0 0 15px;
  font-size: large;
}
body .detailGrant .secondlevelHeader .title span {
  margin: 0 15px 0 0;
  color: #b1b1b1;
}
body .detailGrant .secondlevelHeader:before {
  display: block;
  content: "";
  background: #b1b1b1;
  height: 1px;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
}
body .detailGrant .secondlevelHeader span {
  display: none;
}

body .detailGrant .secondlevelHeader.collapsed span.glyphicon-chevron-right {
  display: inline-block;
}
body .detailGrant .secondlevelBody {
  background: #fff;
}
body .detailGrant .secondlevelBody .inner {
  padding: 0 40px 0 20px;
  position: relative;
}
body .detailGrant .secondlevelBody .inner button.removeCondition {
  padding: 0px;
}
body button.removeCondition {
  position: absolute;
  right: 30px;
  padding: 0 5px 0 5px;
  background-color:#fff;
}

button.removeCondition:hover
{
background-color:#fff;
}


body .detailGrant .secondlevelBody .inner button.removeProperty {
  position: absolute;
  right: 0;
  top: 25px;
  height: 32px;
  padding: 5px;
  border: 0;
  font-size: 21px;
}
body button.removeProperty {
  height: 32px;
  padding: 5px;
  border: 0;
  font-size: 21px;
}
body .detailGrant .addNew {
  margin: 10px -20px;
  padding: 0;
  position: relative;
}
body .detailGrant .addNew:before {
  display: block;
  content: "";
  background: #b1b1b1;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
body .detailGrant .addNew .inner {
  padding: 0 20px;
}
body .detailGrant .addNew .headline {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  padding: 10px 0 10px 0;
}
body .detailGrant .addNew .addNewButton {
  margin: 24px 0 0 0;
}
body .secondlevelBody .hideinsecondlevel {
  display: none;
}
body .datepicker .btn {
  border: 0 !important;
}
body .form-group.justButtons button {
  margin-top: 25px;
}

body  .addmargin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-hint {
    text-align: center;
}

#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.form-group .btn-group {
    width: 100%;
}