Te.loginContainerWindow {
	background-image: url(../images/login_wcms_cockpit.png);
}

.segmentBrowserMain 
{
	background: #1C3B68;
	max-height: 100%;
	/*height: auto !important;*/
	left: 0;
	top: 0;
	width: 100%;
	overflow: auto; 
}

.segmentBrowserMain .segmentSection
{
	width: auto !important;
	padding-top: 26px;
	border:3px solid #1C3B68;
	background: url("images/darkblue_gradient.png") repeat-x;
	position: relative;
}

.segmentBrowserMain .segmentSection .columnMainCnt .innerDiv
{
	width: 100%;
}	

.segmentBrowserMain .segmentSection div.browserSectionContent {
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 5px;
}

.segmentSection.outputActionsSection .advancedGroupbox {
	border: none;
}

.outputActionsSection > .advancedGroupbox > .z-groupbox-body {
	margin: 1px;
}

.outputActionsSection .advancedGroupbox .z-groupbox-hm,
.outputActionsSection .advancedGroupbox .z-groupbox-hl,
.outputActionsSection .advancedGroupbox .z-groupbox-hr 
{
	background: url("images/groupbox-bg-red.png") repeat-x;
}

.segmentBrowserMain .contentEditor {
	border-bottom: 1px solid #ccc;
}

.segmentBrowserMain .segmentSection.no_arrow .arrowDiv{
	display: none;
}

.segmentBrowserMain .segmentSection.no_arrow {
	padding-top: 0;
	background: none;
}

.segmentBrowserMain .advancedGroupbox
{
	background: #fff;
}

.segmentbrowser_actions {
	margin: 3px;
}

.segmentSectionHeaderCmp {
	text-align: right;
}

.segmentSectionHeaderCmp .btnTable {
	display: inline-table;
}

.arrowDiv {
	position: absolute !important;
	background: url("images/arrow_down.png") no-repeat;
	background-position: center;
	top: 0;
	left: 49%;
	width: 20px;
	height: 20px;
}

.staticSection {
	height: 100px;
	background: url("images/white_gradient_big.png") repeat-x #fefefe;
}

.staticSection div {
	height: 100px;
	position: relative;
	left: -40px;
}

.st_grp div {
	background: url("../images/group.png") no-repeat center;
}

.st_king div {
	background: url("../images/king.png") no-repeat center;
}

div.wizardWebsiteContainer{
	padding-left:15px;
	padding-right:15px;
}

div.wizardWebsiteContainer span.selectedItemLabel{
	color:gray;
	font-size:13px;	
	padding-left:6px;
}

div.wizardWebsiteContainer td.selectedCellItem {
	padding-bottom:3px;	
}

table tr.z-list-item-seld td.activeSegmentNavigationEntry div.advancedGroupbox div.z-groupbox-hr {
	background-repeat: repeat-x;
}

table tr.z-list-item-seld td.activeSegmentNavigationEntry div.advancedGroupbox div.z-groupbox-header {
	background-image: url(images/groupbox-selectorSectionHL.png) !important;
	background-repeat: repeat-x;
}

table tr.z-list-item-seld td.activeSegmentNavigationEntry .selectorSectionItem {
	border-bottom: 1px solid #d4d4d4;
	padding-bottom: 0;
}

.selectorSection .z-list-item .selectorSection td.activeRuleNavigationEntry .advancedGroupboxPreLabel{
	padding-left:10px;
}

.selectorSection .z-list-item-seld .activeSegmentNavigationEntry .advancedGroupboxPreLabel span.z-label {
	color: #444;
}


.selectorSection .activeRuleNavigationEntry .advancedGroupboxPreLabel span.z-label {
	color: #444;
	font-weight: normal;
	font-size: 10px;
}


.selectorSection .z-list-item-seld .selectorSection .z-list-item-seld td.activeRuleNavigationEntry {
	padding: 0;
}

.selectorSection .z-list-item-seld .selectorSection td.activeRuleNavigationEntry .advancedGroupboxPreLabel {
	padding: 0 0 0 10px;
}

.selectorSection .activeRuleNavigationEntry .drillableSelector {
	padding: 0;
}

.segmentSection div.defaultListViewCell,
.segmentSection div.selectedListViewCell,
.segmentSection div.activatedListViewRow,
.segmentSection div.selectedListViewRow
{
	height: 28px !important;
	margin-bottom:3px;
}

.segmentSection div.defaultListViewCell span,
.segmentSection div.selectedListViewCell span,
.segmentSection div.activatedListViewRow span,
.segmentSection div.selectedListViewRow span
{
	line-height: 13px;
	white-space: normal;
	padding-left: 0;	
}

.segmentSection div.defaultListViewCell,
.segmentSection div.activatedListViewRow,
.segmentSection div.selectedListViewRow,
.segmentSection div.selectedListViewCell
{
	border-bottom: 1px solid #fff !important;
	background: #fff;
}





table tr.z-list-item-seld td.activeSegmentNavigationEntry div.advancedGroupbox div.z-groupbox-hl{
	background-color:transparent;
}

table tr.z-list-item-seld td.activeSegmentNavigationEntry div.advancedGroupbox div.z-groupbox-header{
	background-color:transparent;
}

table tr.z-list-item-seld td.activeSegmentNavigationEntry div.advancedGroupbox div.z-groupbox-hr{
	background-color:transparent;
}

table tr.z-list-item-seld td.activeSegmentNavigationEntry
table tr.z-list-item-seld td.activeRuleNavigationEntry div.advancedGroupbox div.z-groupbox-hr{
	background-color:#CCCCCC !important;
}

table tr.z-list-item-seld td.activeSegmentNavigationEntry
table tr.z-list-item-seld td.activeRuleNavigationEntry div.advancedGroupbox div.z-groupbox-hl{
	background-color:#CCCCCC !important;
}


table tr.z-list-item-seld td.activeSegmentNavigationEntry
table tr.z-list-item td.activeRuleNavigationEntry div.advancedGroupbox div.z-groupbox-header{
	background-color:transparent;
}

table tr.z-list-item-seld td.activeSegmentNavigationEntry
table tr.z-list-item td.activeRuleNavigationEntry div.advancedGroupbox div.z-groupbox-hl{
	background-color:transparent;
}

table tr.z-list-item-seld td.activeSegmentNavigationEntry
table tr.z-list-item td.activeRuleNavigationEntry div.advancedGroupbox div.z-groupbox-hr{
	background-color:transparent;
}


td.activeRuleNavigationEntry{
	padding-left:10px;	
}

tr.z-list-item td.activeSegmentNavigationEntry{
	padding:0 !important;	
}

td.activeSegmentNavigationEntry div.z-groupbox{
	margin-bottom:0px;
}

td.activeSegmentNavigationEntry div.advancedGroupboxPreLabel span{
	font-size:x-small;
	white-space: nowrap;
}

tr.segmentNavigationParentEntry{
	background:none;
	border:none;	
} 

tr.ruleNavigationParentEntry {
	background:none;
	border:none;
}

div.statusContainerSclass{
	position:relative;
}

div.statusTextSclass {
	text-align:left;
	line-height:24px;	
}

div.statusTextSclass {
	text-align:left;
	line-height:24px;

}
div.statusTextSclass table{
	table-layout: fixed;
	width:100%;
	padding-left:10px;
}
div.statusImagesSclass{
	position: absolute;
	background:url(../../cockpit/css/images/groupbox-selectorSection.png) repeat-x scroll 0 0 transparent;
	right:0px;
	top:2px;	
}

div.segmentGradient {
	background-position:left center;
	background-image: url(../../btgcockpit/css/images/rules-fader.png);
	left:-23px;
	width:23px;
}

div.ruleGradient {
	background-position:left center;
	background-image: url(../../btgcockpit/css/images/rules-fader.png);
	left:-17px;
}

/*** Section for BTG Expression wizard and editor (BEGIN) ****/

.cmsWizardPageContainer{
	height:99%;
}

.BTGExpressionCreatorPageSclass{
	height:100%;
}

.BTGExpressionCreatorTopComponent{
	height:100%;	
}
table.btgExpressionComponentView{
	height:96%;	
	padding-left:4px;
	padding-right:4px;
}

table.btgExpressionComponentView > tbody > tr > td{
	border-right:1px solid #CCCCCC;	
}

table.btgExpressionComponentView td.z-hbox-sep{
	border-right:none;	
}

.elementSelectionComboboxSclass{
	border:none;
	padding:0px;
}

.elementSelectionComboboxSclass input{
	border:1px solid #CDCDCD;
	width: 93% !important;
}

table.comboxPanelWithHeader > tbody > tr > td {
	vertical-align:middle;
	padding-right:3px;	
	padding-left:3px;
	border:none;
}

table.comboxPanelWithHeader > tbody > tr > td:first-child {
	vertical-align:top;
	padding-right:3px;	
	padding-left:3px;
	border:none;
	padding-top:6px;
	width:8px;
}

table.comboxPanelWithHeader > tbody > tr > td.z-hbox-sep {
    display: none;
}

table.btgExpressionComponentView > tbody > tr > td.z-hbox-sep{
	width:0px;
}

div.leftPanel div.comboxPanelSclass {
	width:216px;	
}

div.middlePanel div.comboxPanelSclass {
	width:239px;	
}

div.rightPanel div.comboxPanelSclass {
	width:auto;	
}

table.comboxPanelWithHeader > tbody > tr > td > a.z-toolbar-button {
/*	position:absolute;
	top:14px;	*/
}

table.comboxPanelWithHeader div.comboxPanelSclass table.contentElementBoxEditor {
	padding-left:5px;
}

div.comboxPanelSclass table.contentElementBoxEditor {
	padding-left: 5px;
	border-bottom:none;
}

div.contentEditorGroupbox table.comboxPanelWithHeader > tbody > tr > td > a.z-toolbar-button {
	/*position:absolute;
	top:62px;*/
	
	
}

table.btgExpressionComponentView div.comboxPanelSclass table.contentElementBoxEditor table.referenceSelector_hbox tr td:first-child {
	width:170px;
}

/*** Section for BTG Expression wizard and editor (END) ****/

/*** Section for Restriction action wizard ****/
.z-listbox.restrictionTypeList {
	border-color: #fff;
}
.z-listbox.restrictionTypeList tr.z-list-item {
	background: #fff;
}


.z-listbox.restrictionTypeList tr.z-list-item-seld .z-list-cell-cnt,
.z-listbox.restrictionTypeList tr.z-list-item-over .z-list-cell-cnt,
.z-listbox.restrictionTypeList tr.z-list-item-over-seld .z-list-cell-cnt 
{
		color: #416AA3;	
}


.restrictionTypeList .z-list-cell-cnt {
	font-weight: bold;
	font-size: 12px;
	background: url("../../cockpit/css/images/wizardEntryBG.gif") repeat-x scroll 0 0;
	border-bottom: 1px solid #dddddd;
	padding: 5px;
	color: #444 !important;
}

.restrictionTypeList .z-list-cell-cnt img {
	height: 40px;
	margin: 5px;
}

.wizardPageDescription {
	/*background: url("../../cockpit/css/images/topflat_bg_dark.gif") repeat-x scroll 0 0 #E2E3E7;*/
	background: none;
	border-bottom:1px solid #CCCCCC;
	padding:8px;
}

/*** Section for Restriction action wizard (END) ****/


div.createSegmentWizard {
	padding-top: 10px;
	background: transparent;
	width:50%;	
}

div.createSegmentWizardDescription{
	text-align: left;	
}

div.createSegmentWizard .z-list-cell-cnt{
	height:30px;
	text-align: center;
}

div.createSegmentWizard .z-list-item-seld .z-list-cell-cnt{
	background: #CCCCCC;
}

span.createWizardOptionLabel{
	font-weight:bold;
	position: relative;
	top:8px;
}

span.createSegmentWizardSectionLabel{
	font-weight: bold;	
	padding-right:10px;
}

span.htmlEscapeLabel{
	font-family: Arial,non-serif;
}

div.arrowSclass{
	position: absolute;
	top:3px; 
	height: 15px; 
	width: 8px;
}

div.statusContainerSclassOpened div.arrowSclass{
	background: url("../images/icon_func_arrow_down_available_i.png") no-repeat scroll 0pt 0pt transparent;
	background-position: center;
}

div.statusContainerSclassCollapsed div.arrowSclass{
	background: url("../images/icon_func_arrow_forward_available_i.png") no-repeat scroll 0pt 0pt transparent;
	background-position: center;
}

.reportsToolbar {
	background-color:white; 
	padding:10px;
}

.reportRefreshButton {
	position:relative;
	right:38%;
}

div.cmsOutputActionMessage{
	width:100%;
	text-align:left;		
}

div.cmsOutputActionMessage>div{
	padding-top:15px;
	padding-left:15px;
	font-size: 12px;
}
div.cmsOutputActionMessage span.z-label{
	font-weight:bold;
	font-family: Verdana;
	color:#5A5A5A;
}

div.cmsOutputActionMessage a.z-toolbar-button {
	font-weight:bold;
	color:#5A5A5A;
}

div.btgContentEditor{
/*	position: absolute;
	bottom:0px;
	left:0px;*/
	width: 100%;
}




.btgContentEditor .structureViewEditorSection{
	padding:0;	
	
}


.btgContentEditor .structureViewEditorSection > div > span.z-label{
	display:block;	
	padding:0 10px;
	color: #444444;
	font-family: Arial,non-serif;
    font-size: 11px;
    height:24px;
    line-height:24px;
    font-weight:bold;
}




.btgContentEditor div.structureViewEditorSection div.browserSectionContent {
    height: 250px;
    overflow-x: hidden;
    overflow-y: show;
    margin: 0;
}



.btgContentEditor div.structureViewEditorSection .structViewCnt{
	padding: 0 0 0 20px !important;
	
}


.btgContentEditor .splitterParent .splitter{
	background-color: #EBEBEB;
    box-shadow: 0 -3px 4px #999999;
	height: 5px;
	cursor: row-resize;

}















/* START overriding styles from cockpit_wizard.css */
.z-window-highlighted-cnt .z-list-item-over .contentElementBox {
	background-image: url(../../cockpit/css/images/wizardEntryBG.gif);
	background-position: top;
	background-repeat: repeat-x;
	background-color: transparent;
}

.contentElementName {
	cursor:pointer;
	padding-bottom: 4px;
}

.contentElementName span {	
	font-weight:bold;
	font-size: 12px;
}

.contentElementName .z-label {
	color: #444 !important;
}

.contentElementBox .z-label {
	color: #8A8A8A;
}

.z-list-item-over .z-label {
	color: #416AA3;	
}
/* END overriding styles from cockpit_wizard.css */

.wizardPageDescriptionHeaderLabel {
	font-weight:bold;
	font-size: 12px; 
}

.wizardPageDescription .z-label {
	color: #8A8A8A;
}

#Wizard_Create_Output_Action_WCMS_Component_Input .z-combobox-inp {
    width: 94%;
}
