@import url(https://fonts.googleapis.com/css?family=Dosis:400,300,500,600);
#_asm * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#_asm *:before,
#_asm *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#_asm a {
    color: #428bca;
    text-decoration: none;
}
#_asm a:hover,
#_asm a:focus {
    color: #2a6496;
    text-decoration: underline;
}
#_asm a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
#_asm figure {
    margin: 0;
}
#_asm img {
    vertical-align: middle;
}
#_asm .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
#_asm .img-rounded {
    border-radius: 6px;
}
#_asm .img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
#_asm .img-circle {
    border-radius: 50%;
}
#_asm hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}
#_asm .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
#_asm .container {
    margin-right: auto;
    margin-left: auto;
    /*   padding-left: 15px;
       padding-right: 15px;*/
    position: relative;
    width: 1060px;
}
@media (max-width: 768px) {
    #_asm .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 10px) {
    #_asm .container {
        width: auto;
    }
}
@media (min-width: 768px) {
    #_asm .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    #_asm .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    #_asm .container {
        width: 1060px;
    }
}
#_asm .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
#_asm .row {
    margin-left: -15px;
    margin-right: -15px;
}
#_asm .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
#_asm .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
#_asm .col-xs-12 {
    width: 100%;
}
#_asm .col-xs-11 {
    width: 91.66666667%;
}
#_asm .col-xs-10 {
    width: 83.33333333%;
}
#_asm .col-xs-9 {
    width: 75%;
}
#_asm .col-xs-8 {
    width: 66.66666667%;
}
#_asm .col-xs-7 {
    width: 58.33333333%;
}
#_asm .col-xs-6 {
    width: 50%;
}
#_asm .col-xs-5 {
    width: 41.66666667%;
}
#_asm .col-xs-4 {
    width: 33.33333333%;
}
#_asm .col-xs-3 {
    width: 25%;
}
#_asm .col-xs-2 {
    width: 16.66666667%;
}
#_asm .col-xs-1 {
    width: 8.33333333%;
}
#_asm .col-xs-pull-12 {
    right: 100%;
}
#_asm .col-xs-pull-11 {
    right: 91.66666667%;
}
#_asm .col-xs-pull-10 {
    right: 83.33333333%;
}
#_asm .col-xs-pull-9 {
    right: 75%;
}
#_asm .col-xs-pull-8 {
    right: 66.66666667%;
}
#_asm .col-xs-pull-7 {
    right: 58.33333333%;
}
#_asm .col-xs-pull-6 {
    right: 50%;
}
#_asm .col-xs-pull-5 {
    right: 41.66666667%;
}
#_asm .col-xs-pull-4 {
    right: 33.33333333%;
}
#_asm .col-xs-pull-3 {
    right: 25%;
}
#_asm .col-xs-pull-2 {
    right: 16.66666667%;
}
#_asm .col-xs-pull-1 {
    right: 8.33333333%;
}
#_asm .col-xs-pull-0 {
    right: 0%;
}
#_asm .col-xs-push-12 {
    left: 100%;
}
#_asm .col-xs-push-11 {
    left: 91.66666667%;
}
#_asm .col-xs-push-10 {
    left: 83.33333333%;
}
#_asm .col-xs-push-9 {
    left: 75%;
}
#_asm .col-xs-push-8 {
    left: 66.66666667%;
}
#_asm .col-xs-push-7 {
    left: 58.33333333%;
}
#_asm .col-xs-push-6 {
    left: 50%;
}
#_asm .col-xs-push-5 {
    left: 41.66666667%;
}
#_asm .col-xs-push-4 {
    left: 33.33333333%;
}
#_asm .col-xs-push-3 {
    left: 25%;
}
#_asm .col-xs-push-2 {
    left: 16.66666667%;
}
#_asm .col-xs-push-1 {
    left: 8.33333333%;
}
#_asm .col-xs-push-0 {
    left: 0%;
}
#_asm .col-xs-offset-12 {
    margin-left: 100%;
}
#_asm .col-xs-offset-11 {
    margin-left: 91.66666667%;
}
#_asm .col-xs-offset-10 {
    margin-left: 83.33333333%;
}
#_asm .col-xs-offset-9 {
    margin-left: 75%;
}
#_asm .col-xs-offset-8 {
    margin-left: 66.66666667%;
}
#_asm .col-xs-offset-7 {
    margin-left: 58.33333333%;
}
#_asm .col-xs-offset-6 {
    margin-left: 50%;
}
#_asm .col-xs-offset-5 {
    margin-left: 41.66666667%;
}
#_asm .col-xs-offset-4 {
    margin-left: 33.33333333%;
}
#_asm .col-xs-offset-3 {
    margin-left: 25%;
}
#_asm .col-xs-offset-2 {
    margin-left: 16.66666667%;
}
#_asm .col-xs-offset-1 {
    margin-left: 8.33333333%;
}
#_asm .col-xs-offset-0 {
    margin-left: 0%;
}
@media (min-width: 768px) {
    #_asm .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    #_asm .col-sm-12 {
        width: 100%;
    }
    #_asm .col-sm-11 {
        width: 91.66666667%;
    }
    #_asm .col-sm-10 {
        width: 83.33333333%;
    }
    #_asm .col-sm-9 {
        width: 75%;
    }
    #_asm .col-sm-8 {
        width: 66.66666667%;
    }
    #_asm .col-sm-7 {
        width: 58.33333333%;
    }
    #_asm .col-sm-6 {
        width: 50%;
    }
    #_asm .col-sm-5 {
        width: 41.66666667%;
    }
    #_asm .col-sm-4 {
        width: 33.33333333%;
    }
    #_asm .col-sm-3 {
        width: 25%;
    }
    #_asm .col-sm-2 {
        width: 16.66666667%;
    }
    #_asm .col-sm-1 {
        width: 8.33333333%;
    }
    #_asm .col-sm-pull-12 {
        right: 100%;
    }
    #_asm .col-sm-pull-11 {
        right: 91.66666667%;
    }
    #_asm .col-sm-pull-10 {
        right: 83.33333333%;
    }
    #_asm .col-sm-pull-9 {
        right: 75%;
    }
    #_asm .col-sm-pull-8 {
        right: 66.66666667%;
    }
    #_asm .col-sm-pull-7 {
        right: 58.33333333%;
    }
    #_asm .col-sm-pull-6 {
        right: 50%;
    }
    #_asm .col-sm-pull-5 {
        right: 41.66666667%;
    }
    #_asm .col-sm-pull-4 {
        right: 33.33333333%;
    }
    #_asm .col-sm-pull-3 {
        right: 25%;
    }
    #_asm .col-sm-pull-2 {
        right: 16.66666667%;
    }
    #_asm .col-sm-pull-1 {
        right: 8.33333333%;
    }
    #_asm .col-sm-pull-0 {
        right: 0%;
    }
    #_asm .col-sm-push-12 {
        left: 100%;
    }
    #_asm .col-sm-push-11 {
        left: 91.66666667%;
    }
    #_asm .col-sm-push-10 {
        left: 83.33333333%;
    }
    #_asm .col-sm-push-9 {
        left: 75%;
    }
    #_asm .col-sm-push-8 {
        left: 66.66666667%;
    }
    #_asm .col-sm-push-7 {
        left: 58.33333333%;
    }
    #_asm .col-sm-push-6 {
        left: 50%;
    }
    #_asm .col-sm-push-5 {
        left: 41.66666667%;
    }
    #_asm .col-sm-push-4 {
        left: 33.33333333%;
    }
    #_asm .col-sm-push-3 {
        left: 25%;
    }
    #_asm .col-sm-push-2 {
        left: 16.66666667%;
    }
    #_asm .col-sm-push-1 {
        left: 8.33333333%;
    }
    #_asm .col-sm-push-0 {
        left: 0%;
    }
    #_asm .col-sm-offset-12 {
        margin-left: 100%;
    }
    #_asm .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    #_asm .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    #_asm .col-sm-offset-9 {
        margin-left: 75%;
    }
    #_asm .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    #_asm .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    #_asm .col-sm-offset-6 {
        margin-left: 50%;
    }
    #_asm .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    #_asm .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    #_asm .col-sm-offset-3 {
        margin-left: 25%;
    }
    #_asm .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    #_asm .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    #_asm .col-sm-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 992px) {
    #_asm .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    #_asm .col-md-12 {
        width: 100%;
    }
    #_asm .col-md-11 {
        width: 91.66666667%;
    }
    #_asm .col-md-10 {
        width: 83.33333333%;
    }
    #_asm .col-md-9 {
        width: 75%;
    }
    #_asm .col-md-8 {
        width: 66.66666667%;
    }
    #_asm .col-md-7 {
        width: 58.33333333%;
    }
    #_asm .col-md-6 {
        width: 50%;
    }
    #_asm .col-md-5 {
        width: 41.66666667%;
    }
    #_asm .col-md-4 {
        width: 33.33333333%;
    }
    #_asm .col-md-3 {
        width: 25%;
    }
    #_asm .col-md-2 {
        width: 16.66666667%;
    }
    #_asm .col-md-1 {
        width: 8.33333333%;
    }
    #_asm .col-md-pull-12 {
        right: 100%;
    }
    #_asm .col-md-pull-11 {
        right: 91.66666667%;
    }
    #_asm .col-md-pull-10 {
        right: 83.33333333%;
    }
    #_asm .col-md-pull-9 {
        right: 75%;
    }
    #_asm .col-md-pull-8 {
        right: 66.66666667%;
    }
    #_asm .col-md-pull-7 {
        right: 58.33333333%;
    }
    #_asm .col-md-pull-6 {
        right: 50%;
    }
    #_asm .col-md-pull-5 {
        right: 41.66666667%;
    }
    #_asm .col-md-pull-4 {
        right: 33.33333333%;
    }
    #_asm .col-md-pull-3 {
        right: 25%;
    }
    #_asm .col-md-pull-2 {
        right: 16.66666667%;
    }
    #_asm .col-md-pull-1 {
        right: 8.33333333%;
    }
    #_asm .col-md-pull-0 {
        right: 0%;
    }
    #_asm .col-md-push-12 {
        left: 100%;
    }
    #_asm .col-md-push-11 {
        left: 91.66666667%;
    }
    #_asm .col-md-push-10 {
        left: 83.33333333%;
    }
    #_asm .col-md-push-9 {
        left: 75%;
    }
    #_asm .col-md-push-8 {
        left: 66.66666667%;
    }
    #_asm .col-md-push-7 {
        left: 58.33333333%;
    }
    #_asm .col-md-push-6 {
        left: 50%;
    }
    #_asm .col-md-push-5 {
        left: 41.66666667%;
    }
    #_asm .col-md-push-4 {
        left: 33.33333333%;
    }
    #_asm .col-md-push-3 {
        left: 25%;
    }
    #_asm .col-md-push-2 {
        left: 16.66666667%;
    }
    #_asm .col-md-push-1 {
        left: 8.33333333%;
    }
    #_asm .col-md-push-0 {
        left: 0%;
    }
    #_asm .col-md-offset-12 {
        margin-left: 100%;
    }
    #_asm .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    #_asm .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    #_asm .col-md-offset-9 {
        margin-left: 75%;
    }
    #_asm .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    #_asm .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    #_asm .col-md-offset-6 {
        margin-left: 50%;
    }
    #_asm .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    #_asm .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    #_asm .col-md-offset-3 {
        margin-left: 25%;
    }
    #_asm .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    #_asm .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    #_asm .col-md-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 1200px) {
    #_asm .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    #_asm .col-lg-12 {
        width: 100%;
    }
    #_asm .col-lg-11 {
        width: 91.66666667%;
    }
    #_asm .col-lg-10 {
        width: 83.33333333%;
    }
    #_asm .col-lg-9 {
        width: 75%;
    }
    #_asm .col-lg-8 {
        width: 66.66666667%;
    }
    #_asm .col-lg-7 {
        width: 58.33333333%;
    }
    #_asm .col-lg-6 {
        width: 50%;
    }
    #_asm .col-lg-5 {
        width: 41.66666667%;
    }
    #_asm .col-lg-4 {
        width: 33.33333333%;
    }
    #_asm .col-lg-3 {
        width: 25%;
    }
    #_asm .col-lg-2 {
        width: 16.66666667%;
    }
    #_asm .col-lg-1 {
        width: 8.33333333%;
    }
    #_asm .col-lg-pull-12 {
        right: 100%;
    }
    #_asm .col-lg-pull-11 {
        right: 91.66666667%;
    }
    #_asm .col-lg-pull-10 {
        right: 83.33333333%;
    }
    #_asm .col-lg-pull-9 {
        right: 75%;
    }
    #_asm .col-lg-pull-8 {
        right: 66.66666667%;
    }
    #_asm .col-lg-pull-7 {
        right: 58.33333333%;
    }
    #_asm .col-lg-pull-6 {
        right: 50%;
    }
    #_asm .col-lg-pull-5 {
        right: 41.66666667%;
    }
    #_asm .col-lg-pull-4 {
        right: 33.33333333%;
    }
    #_asm .col-lg-pull-3 {
        right: 25%;
    }
    #_asm .col-lg-pull-2 {
        right: 16.66666667%;
    }
    #_asm .col-lg-pull-1 {
        right: 8.33333333%;
    }
    #_asm .col-lg-pull-0 {
        right: 0%;
    }
    #_asm .col-lg-push-12 {
        left: 100%;
    }
    #_asm .col-lg-push-11 {
        left: 91.66666667%;
    }
    #_asm .col-lg-push-10 {
        left: 83.33333333%;
    }
    #_asm .col-lg-push-9 {
        left: 75%;
    }
    #_asm .col-lg-push-8 {
        left: 66.66666667%;
    }
    #_asm .col-lg-push-7 {
        left: 58.33333333%;
    }
    #_asm .col-lg-push-6 {
        left: 50%;
    }
    #_asm .col-lg-push-5 {
        left: 41.66666667%;
    }
    #_asm .col-lg-push-4 {
        left: 33.33333333%;
    }
    #_asm .col-lg-push-3 {
        left: 25%;
    }
    #_asm .col-lg-push-2 {
        left: 16.66666667%;
    }
    #_asm .col-lg-push-1 {
        left: 8.33333333%;
    }
    #_asm .col-lg-push-0 {
        left: 0%;
    }
    #_asm .col-lg-offset-12 {
        margin-left: 100%;
    }
    #_asm .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    #_asm .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    #_asm .col-lg-offset-9 {
        margin-left: 75%;
    }
    #_asm .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    #_asm .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    #_asm .col-lg-offset-6 {
        margin-left: 50%;
    }
    #_asm .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    #_asm .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    #_asm .col-lg-offset-3 {
        margin-left: 25%;
    }
    #_asm .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    #_asm .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    #_asm .col-lg-offset-0 {
        margin-left: 0%;
    }
}
.ASM_close {
    float: right;
    font-size: 30px;
    font-weight: 500;
    line-height: 10px;
    color: #fff;
    width: 20px;
    height: 20px;
    padding-bottom: 5px !important;
    margin: 0;
    /*font-family: "Lucida Grande",Helvetica,Arial,sans-serif;*/
}
.ASM_close:hover,
.ASM_close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.ASM_close_all {
    font-size: 25px;
    margin: 4px -30px 15px 0;
}
.ASM_close_all:hover,
.ASM_close_all:focus {
    color: #b4bac2;
}
button.ASM_close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.ASM_alert {
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid transparent;
    background: #ff3b30;
    color: #fff;
    line-height: 20px;
    font-size: 16px;
}
.ASM_alert-dismissable {
    padding-right: 35px;
}
.ASM_alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
.ASM_alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.ASM_alert-success hr {
    border-top-color: #c9e2b3;
}
.ASM_alert-success .alert-link {
    color: #2b542c;
}
.ASM_alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.ASM_alert-info hr {
    border-top-color: #a6e1ec;
}
.ASM_alert-info .alert-link {
    color: #245269;
}
.ASM_alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.ASM_alert-warning hr {
    border-top-color: #f7e1b5;
}
.ASM_alert-warning .alert-link {
    color: #66512c;
}
.ASM_alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.ASM_alert-danger hr {
    border-top-color: #e4b9c0;
}
.ASM_alert-danger .alert-link {
    color: #843534;
}
.clearfix:before,
.clearfix:after,
#_asm .container:before,
#_asm .container:after,
#_asm .container-fluid:before,
#_asm .container-fluid:after,
#_asm .row:before,
#_asm .row:after {
    content: " ";
    display: table;
}
.clearfix:after,
#_asm .container:after,
#_asm .container-fluid:after,
#_asm .row:after {
    clear: both;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.invisible {
    visibility: hidden;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.affix {
    position: fixed;
}
@-ms-viewport {
    width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}
@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }
    table.visible-xs {
        display: table;
    }
    tr.visible-xs {
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }
    .ASM_alert {
        width: 92%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }
    table.visible-sm {
        display: table;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important;
    }
    table.visible-md {
        display: table;
    }
    tr.visible-md {
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }
    table.visible-lg {
        display: table;
    }
    tr.visible-lg {
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
}
@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}
.visible-print {
    display: none !important;
}
@media print {
    .visible-print {
        display: block !important;
    }
    table.visible-print {
        display: table;
    }
    tr.visible-print {
        display: table-row !important;
    }
    th.visible-print,
    td.visible-print {
        display: table-cell !important;
    }
}
@media print {
    .hidden-print {
        display: none !important;
    }
}
@font-face {
    font-family: 'asm_icons';
    src: url('../fonts/asm_icons.eot?9817510');
    src: url('../fonts/asm_icons.eot?9817510#iefix') format('embedded-opentype'),
    url('../fonts/asm_icons.woff?9817510') format('woff'),
    url('../fonts/asm_icons.ttf?9817510') format('truetype'),
    url('../fonts/asm_icons.svg?9817510#asm_icons') format('svg');
}
.ASM_icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'asm_icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ASM_icon-logo:before {
    content: '\e807';
    font-size: 32px;
}
/* '' */
.ASM_icon-contacts:before {
    content: '\e801';
    vertical-align: middle;
}
/* '' */
.ASM_icon-cart:before {
    content: '\e802';
    vertical-align: middle;
}
/* '' */
.ASM_icon-arrow-down:before {
    content: '\e803';
}
/* '' */
.ASM_icon-arrow-up:before {
    content: '\e804';
}
/* '' */
.ASM_icon-arrow-indicator-down:before {
    content: '\e805';
}
/* '' */
.ASM_icon-arrow-indicator-up:before {
    content: '\e806';
}
.ASM_icon-chain:before {
    content: '\e808';
    color: #757575;
    font-size: 37px;
}
.ASM_icon-chain.ASM_chain-bind:before {
    color: #fff;
}
@media (max-width: 767px) {
    .ASM_icon-chain {
        position: absolute;
        top: auto;
        bottom: 40px;
        left: 50%;
        margin-left: -5%;
    }
}
/* '' */
.ASM_header, #_asm .container, .ASM_logo, .ASM_cut_text, .ASM_alert, .ASM_loggedin_text span,
.ASM_control_text, .ASM_session_input_text span, .ASM_session_andor_text, .ASM-btn, .ASM-btn span, .ASM-input,
#sessionTimer, #sessionTimer span {
    font-family: "Dosis", Helvetica, Arial, sans-serif;
}
#_asm {
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    top: 0;
    left: 0;
    right: 0;
    background: #27394f;
    color: #000;
    z-index: 99998;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
#_asm .ASM-btn {
    height: 40px;
    border-radius: 5px;
    border: 0;
    padding: 0 15px;
    font-size: 19px;
    font-weight: 300;
    -webkit-box-shadow: 0 2px 0 #1b2c42;
    box-shadow: 0 2px 0 #1b2c42;
    /*text-transform: uppercase;*/
    color: #000;
    display: inline-block;
    float: none;
    margin: 0;
    vertical-align: baseline;
}
#_asm .ASM-btn.ASM-btn-login, #_asm .ASM-btn.ASM-btn-bind-cart {
    background: #fad714;
}
#_asm .ASM-btn.ASM-btn-create-account {
    background: #d2dbe6;
    color: #0354ae;
}
#_asmBindForm {
    vertical-align: bottom;
}
#asmLogoutForm, #asmLogoutForm fieldset, #_asmSessionEndForm, #_asmBindForm, #_asmSessionEndForm fieldset {
    display: inline-block;
}
#_asm .ASM-btn.ASM-btn-logout, #_asm .ASM-btn.ASM-btn-reset {
    background: #000;
    color: #cbcbcb;
    vertical-align: middle;
}
#_asm .ASM-btn.ASM-btn-start-session {
    background: #19bc33;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    margin-left: -1px;
    vertical-align: bottom;
}
@media (min-width: 768px) and (max-width: 991px) {
    #_asm .ASM-btn.ASM-btn-start-session {
        margin-left: -2px;
    }
}
@media (max-width: 767px) {
    #_asmBindForm {
        display: block;
    }
    #_asm .ASM-btn.ASM-btn-logout, #_asm .ASM-btn.ASM-btn-reset {
        min-width: 105px;
    }
    #_asm .ASM-btn.ASM-btn-start-session {
        margin-left: 0;
    }
}
#_asm .ASM-btn.ASM-btn-end-session, #_asm .ASM-btn.ASM-btn-bind-cart, #_asm .ASM-btn.ASM-btn-create-account {
    font-size: 18px;
}
#_asm .ASM-btn.ASM-btn-end-session {
    background: #ff3b30;
    color: #fff;
    font-weight: 400;
    margin-top: 1px;
}
/*#_asm .ASM_end_session {
    vertical-align: top;
}*/
#_asm .ASM_end_session fieldset {
    margin-top: 21px;
}
#_asm .ASM-btn.ASM-btn-bind-cart, #_asm .ASM-btn.ASM-btn-create-account {
    float: right;
    position: absolute;
    right: 0;
    top: 22px;
    font-weight: 400;
}
@media (max-width: 768px) {
    #_asm .ASM-btn.ASM-btn-bind-cart, #_asm .ASM-btn.ASM-btn-create-account {
        top: auto;
        bottom: 0;
        right: 15px;
    }
    #_asm .ASM_end_session fieldset {
        margin-top: 0;
    }
    #_asm .ASM-btn.ASM-btn-end-session {
        margin-top: 0;
    }
}
#_asm button[disabled] {
    opacity: 0.45;
    filter: alpha(opacity=45);
    background: #207241;
}
#_asm .ASM_input_holder {
    display: inline-block;
    position: relative;
    margin: 0 20px 0 0;
}
#_asm .ASM_input_holder label {
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    color: #777777;
    font-weight: 600;
    font-size: 14px;
    display: block;
    text-align: left;
    margin-bottom: 1px;
}
#_asm .ASM_input_holder .ASM_autocomplete {
    display: none;
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 99999;
    border-top: 1px solid #e6e8ea;
}
#_asm .ASM_input_holder .ASM_autocomplete.ASM_autocomplete_active {
    display: block;
}
#_asm .ASM_input_holder .ASM_autocomplete ul {
    list-style: none;
    padding: 0 10px;
    margin: 0;
}
#_asm .ASM_input_holder .ASM_autocomplete ul li {
    font-size: 18px;
    line-height: 37px;
}
#_asm .ASM-input {
    height: 40px;
    padding: 7px 10px;
    font-size: 19px;
    line-height: 20px;
    border-radius: 0;
    border: 0;
    width: 100%;
}
#_asm .ASM-input[disabled], #_asm .ASM-input.disabled, #_asm .ASM-input[readonly], #_asm .ASM-input[readonly]:focus {
    background-color: #b4bac2;
    cursor: default;
    color: #000;
}
#_asm .ASM-input.placeholder {
    color: #757575;
}
#_asm #_asmSessionEndForm .ASM-input {
    background-color: #b4bac2;
}
#_asm #_asmSessionEndForm .ASM-input.placeholder {
    background-color: #fff;
}
#_asmSessionEndForm fieldset {
    vertical-align: bottom;
}
select#_asm .ASM-input {
    height: 40px;
    line-height: 40px;
}
textarea#_asm .ASM-input,
select[multiple]#_asm .ASM-input {
    height: auto;
}
#_asm .ASM-input:focus,
#_asm .ASM-input.ASM-input-valid,
#_asm .ASM-input.ASM-input-error {
    background: #fff;
}
#_asm .ASM-input.ASM-input-error {
    color: #ff3b30;
    border: 2px solid #ff3b30;
    padding: 5px 10px;
}
#_asm .ASM-input-error.placeholder {
    color: #ff958f;
}
#_asm .ASM_header {
    padding: 5px 0 15px;
}
#_asm .ASM_header .ASM_logo {
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    float: left;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    padding: 18px 0 12px;
}
@media (max-width: 767px) {
    #_asm .ASM_header .ASM_logo span.ASM_cut_text {
        display: none !important;
    }
}
@media (min-width: 768px) and /*(max-width: 991px)*/(max-width: 1199px) {
    #_asm .ASM_header .ASM_logo span.ASM_cut_text {
        display: none !important;
    }
}
#_asm .ASM_header .ASM_login {
    text-align: right;
}
#_asm .ASM_header .ASM_login .ASM-input {
    width: 200px;
}
#_asm .ASM_header .ASM_loggedin {
    text-align: right;
    margin-top: 20px;
}
#_asm .ASM_header .ASM_loggedin .ASM_loggedin_text, .ASM_timer {
    display: inline-block;
    font-weight: 300;
    /*font-size: 17px;*/
    font-size: 14px;
    margin: 0 20px 0 0;
    color: #a1aebd;
}
.ASM_timer {
    margin-right: 87px;
}
#sessionTimer {
    margin-right: 20px;
    font-weight: 600;
    text-align: left;
}
#sessionTimer span {
    font-weight: 300;
}
#sessionTimer .ASM_timer_count {
    display: inline-block;
    min-width: 33px;
    font-weight: 600;
}
#_asm .ASM_header .ASM_loggedin .ASM_loggedin_text .ASM_loggedin_text_name {
    font-weight: 600;
}
@media (max-width: 767px) {
    #_asm .ASM_header .ASM_logo {
        float: none;
        padding: 10px 0 7px;
    }
    #_asm .ASM_header .ASM_login {
        padding-top: 10px;
    }
    #_asm .ASM_header .ASM_login .ASM_input_holder {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    #_asm .ASM_header .ASM_login .ASM_input_holder .ASM-input {
        display: block;
        width: 100%;
    }
    #_asm .ASM_header .ASM_loggedin {
        margin-top: 10px;
    }
    #_asm .ASM_header .ASM_loggedin #asmLogoutForm {
        float: right;
    }
    #_asm .ASM_control {
        margin-top: 15px;
    }
    #_asm .ASM_close_all {
        margin: 10px 0 0 0;
    }
    .ASM_timer {
        margin-right: 0;
        line-height: 40px;
    }
    #_asm .ASM_header .ASM_loggedin .ASM_loggedin_text {
        margin-top: 12px;
    }
    #_asm .ASM-btn.ASM-btn-login {
        float: left;
    }
}
#_asm .ASM_session {
    /*background: #25364c;*/
    /*border-top: 1px solid #354559;*/
    padding: 0 0 15px;
}
#_asm .ASM_session span.ASM_icon {
    color: #0979ff;
    font-size: 32px;
    margin: 0 10px 0 0;
}
#_asm .ASM_session span.ASM_icon-chain {
    vertical-align: middle;
    margin: -8px 30px 0 12px;
    font-size: 27px;
}
@media (min-width: 768px) and (max-width: 1199px) {
    #_asm .ASM_session span.ASM_icon-chain {
        margin-left: 11px;
    }
}
#_asm .ASM_session .ASM_input_holder {
    width: 250px;
}
#_asm .ASM_session .cartId {
    width: 220px;
}
@media (max-width: 991px) {
    #_asm .ASM_session .ASM_input_holder {
        width: 230px;
    }
    #_asm .ASM_session .cartId {
        width: 210px;
    }
}
#_asm .ASM_session .ASM_session_andor_text {
    display: inline-block;
    margin: 0 20px 0 0;
    color: #fff;
    /*font-size: 21px;*/
    font-size: 19px;
}
@media (max-width: 767px) {
    #_asm .ASM_session .ASM_session_andor_text {
        display: none !important;
    }
    #_asm .ASM_session .ASM_input_holder {
        margin-bottom: 10px;
    }
}
@media (max-width: 991px) {
    #_asm .ASM_session .ASM_session_andor_text {
        /*margin-right: 10px;*/
    }
}
#_asm .ASM_session .ASM_session_input_text {
    display: inline-block;
    margin: 0 60px 0 0;
    color: #a1aebd;
    font-size: 20px;
}
@media (max-width: 767px) {
    #_asm .ASM_session .ASM_input_holder {
        /*display: block;*/
        width: 100%;
    }
    #_asm .ASM_session span.ASM_icon-chain {
        margin-bottom: -32px;
        margin-left: -5%;
        float: left;
    }
    #_asm .ASM_session span.ASM_icon-contacts {
        margin-left: 5px;
    }
    #_asm .ASM_timer {
        display: block;
        margin-bottom: 10px;
        margin-right: 0;
    }
    #_asm .ASM_timer .ASM-btn-reset {
        float: right;
    }
    #_asm .ASM_session .ASM-btn {
        float: left;
    }
    #_asm .ASM_session .ASM_session_input_text {
        display: block;
        margin-bottom: 10px;
        line-height: 32px;
        margin-left: 60px;
    }
    #_asm .ASM_session .ASM_session_input_text:before,
    #_asm .ASM_session .ASM_session_input_text:after {
        content: " ";
        display: table;
    }
    #_asm .ASM_session .ASM_session_input_text:after {
        clear: both;
    }
    #_asm .ASM_session .ASM_session_input_text:before,
    #_asm .ASM_session .ASM_session_input_text:after {
        content: " ";
        display: table;
    }
    #_asm .ASM_session .ASM_session_input_text:after {
        clear: both;
    }
}
#_asm .ASM_control {
    height: 8px;
    background-color: #097aff;
    position: relative;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}
#_asm .ASM_control .ASM_control_text {
    display: none;
    font-size: 22px;
    font-weight: 300;
    line-height: 48px;
    color: #fff;
}
#_asm .ASM_control .ASM_control_collapse {
    position: absolute;
    right: 50px;
    bottom: -1px;
    height: 22px;
    width: 82px;
    overflow: hidden;
    cursor: pointer;
}
#_asm .ASM_control .ASM_control_collapse .ASM_control_collapse_arrow {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'asm_icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    position: absolute;
    top: 0;
    display: block;
    color: #fff;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}
#_asm .ASM_control .ASM_control_collapse .ASM_control_collapse_arrow:before {
    content: '\e804';
}
#_asm .ASM_control .ASM_control_collapse .ASM_control_collapse_indicator {
    display: inline-block;
    font-family: 'asm_icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    font-size: 10px;
    top: 6px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    color: #097aff;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}
#_asm .ASM_control .ASM_control_collapse .ASM_control_collapse_indicator:before {
    content: '\e806';
}
#_asm .ASM_control.ASM_control_session_active {
    background-color: #19bc33;
}
#_asm .ASM_control.ASM_control_session_active .ASM_control_collapse_indicator {
    color: #19bc33;
}
#_asm.ASM-collapsed {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    margin-top: 53px;
}
#_asm.ASM-collapsed .ASM_header, #_asm.ASM-collapsed .ASM_session {
    display: none;
}
#_asm.ASM-collapsed .ASM_control {
    height: 48px;
}
#_asm.ASM-collapsed .ASM_control .ASM_control_text {
    display: block;
}
#_asm.ASM-collapsed .ASM_control .ASM_control_collapse {
    top: 0px;
}
#_asm.ASM-collapsed .ASM_control .ASM_control_collapse .ASM_control_collapse_arrow {
    color: #fff;
}
#_asm.ASM-collapsed .ASM_control .ASM_control_collapse .ASM_control_collapse_arrow:before {
    content: '\e803';
}
#_asm.ASM-collapsed .ASM_control .ASM_control_collapse .ASM_control_collapse_indicator {
    color: #097aff;
}
#_asm.ASM-collapsed .ASM_control .ASM_control_collapse .ASM_control_collapse_indicator:before {
    content: '\e805';
}
#_asm.ASM-collapsed .ASM_control.ASM_control_session_active .ASM_control_collapse .ASM_control_collapse_indicator {
    color: #19bc33;
}

/* autocomplete */
.asmAutoComplete .ui-menu {
    list-style:none;
    display:block;
    background-color: white;
    box-shadow: 0 8px 15px #999;
    border: 1px solid #cccccc;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    z-index: 10000;
}
.asmAutoComplete .ui-autocomplete, #asmHover {
    padding: 7px 10px 5px;
    width: 595px!important;
    position: absolute;
    cursor: default;
}
#asmAutoCompleteCartId .ui-autocomplete {
    width: 220px!important;
}
@media (min-width: 768px) and (max-width: 991px) {
    #asmAutoCompleteCartId .ui-autocomplete {
        width: 210px!important;
    }
}
.asmAutoComplete .ui-autocomplete .ui-menu-item {
    border: none;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 5px 0;
}
.asmAutoComplete .ui-autocomplete .ui-menu-item:first-child {
    padding-top: 0;
}
#_asm .asmAutoComplete .ui-autocomplete .ui-menu-item a, .asmAutoComplete .ui-autocomplete .ui-menu-item a:hover {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    color: #000 !important;
    padding: 0;
    display: block;
}
.asmAutoComplete .ui-autocomplete .ui-menu-item span, #asmHover span {
    padding-left: 30px;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: #fff;
    vertical-align: top;
    display: inline-block;
}
#asmHover.disabled, #asmHover.disabled span {
    background-color: #b4bac2;
}
.asmAutoComplete .ui-autocomplete .ui-menu-item .noresult {
    padding-left: 3px;
}
.asmAutoComplete .ui-autocomplete .ui-menu-item .name, #asmHover .name {
    padding-left: 3px;
    width: 23%;
}
.asmAutoComplete .ui-autocomplete .ui-menu-item .email, #asmHover .email {
    width: 46%;
}
.asmAutoComplete .ui-autocomplete .ui-menu-item .card {
    padding-right: 3px;
}
.asmAutoComplete .ui-autocomplete a:hover, .asmAutoComplete .ui-autocomplete a:hover span {
    background-color: #eeeeee;
    cursor: pointer;
}
@media (max-width: 640px) {
    .asmAutoComplete .ui-autocomplete {
        width: auto!important;
        margin-right: 15px;
    }
    #asmHover {
        width: auto!important;
    }
    .asmAutoComplete .ui-autocomplete .ui-menu-item .name,
    .asmAutoComplete .ui-autocomplete .ui-menu-item .email,
    #asmHover .name,
    #asmHover .email {
        width: 100%;
        padding-left: 3px;
    }
    .asmAutoComplete .ui-autocomplete .ui-menu-item .date,
    .asmAutoComplete .ui-autocomplete .ui-menu-item .card,
    #asmHover .date,
    #asmHover .card {
        width: 50%;
        padding-left: 3px;
    }
}
/* end autocomplete */
#asmHover {
    position: absolute;
    background-color: #fff;
    border: 1px solid #cccccc;
    box-shadow: 0 8px 15px #999;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    font-size: 18px;
    z-index: 10001;
}