/* CSS Document */


























.acc_summary h1 {
	color: #356F70;
	font-size: 1.7em;
	text-transform: uppercase;
}

.acc_summary h3,
.acc_summary h4 {
	margin: 0;
	padding: 0;
}

.acc_summary a {
	color: #356F70;
	text-decoration: underline;
}

.acc_summary a:hover {
	color: #7FADA5;
	text-decoration: none;
}

.acc_summary h2 {
	margin-bottom: 0.2em;
	font-size: 1.5em;
}

.acc_summary .acc_info {
	margin-top: 20px;
}

.acc_summary .acc_info .acc_info_box {
	border-top: 1px solid #C0C1C2;
	border-bottom: 1px solid #C0C1C2;
	padding: 10px 0;
}



/* col */
.acc_summary .acc_info .acc_info_box .col {
	float: left;
	width: 25%;
	margin-left: 20px;
}

.acc_summary .acc_info .acc_info_box .col.first {
	width: 36%;
	margin-left: 0;
}

.acc_summary .acc_info .acc_info_box .col.last {
	padding: 5px 10px;
	float: right;
	width: 30%;
}

/* dl */

.acc_summary .acc_info .acc_info_box .col dl {
	margin: -3px 0 0;
}

.acc_summary .acc_info .acc_info_box .col dt{
	float: left;
}


.acc_summary .acc_info .acc_info_box .col dt,
.acc_summary .acc_info .acc_info_box .col dd {
	height: 20px;
}

.acc_summary .acc_info .acc_info_box .col dl.opt1 dt {
	min-width: 0;
	padding-right: 10px;
}

.acc_summary .acc_info .acc_info_box .col dl.opt2 {
	margin-top: 10px;
}

.acc_summary .acc_info .acc_info_box .col dl.opt2 dt {
	text-align: right;
	margin-right: 20px;
}

.acc_summary .acc_info .acc_info_box .col dl.opt3 dt {
	float: none;
}

.acc_summary .acc_info .acc_info_box .col dl dt {
	min-width: 50%;
}

.acc_summary .acc_info .acc_info_box .col dl.opt3 dd {
	margin-left: 0;
}

.acc_summary .acc_info .acc_info_box .col.last dt,
.acc_summary .acc_info .acc_info_box .col.last dd {
	text-align: right;
}

.acc_summary .acc_info .acc_info_box .col.last dt.last,
.acc_summary .acc_info .acc_info_box .col.last dd.last {
	padding-top: 3px;
	border-top: 1px solid #C0C1C2;
}

/* Search */
.acc_summary .search {
	margin-top: 10px;
	margin-bottom: 10px;
}

.acc_summary .search .search_by {
	float: left;
	margin-right:10px;
}

.acc_summary .search .search_key {
	float: right;
}

.acc_summary .search .search_by select {
	padding-top: 2px;
	height: 22px;
    border: 1px solid #999999;
	float: none;
}


.acc_summary .search .search_key button {
	margin: 0;
	float: right;
	height: auto;
	margin-left: 10px;
}

.acc_summary .search .search_key input {
	margin: 0;
	margin-left: 10px;
}


.acc_summary .search .search_key select {
	margin: 0;
	padding-top: 2px;
	height: 22px;
    border: 1px solid #999999;
	float: none;
}






/* filter */
.acc_summary .filter {
	padding:  5px 10px;
	line-height: 30px;
}

.acc_summary .filter ul,
.acc_summary .filter ul li {
	float: left;
	margin-bottom: 0;
}

.acc_summary .filter ul.opt3 {
	margin-left: 20px;
}

.acc_summary .filter ul.opt1 a,
.acc_summary .filter ul.opt3 a {
	color: transparent;
	display: block;
}
.acc_summary .filter ul.opt1 li a {
	width: 30px;
	height: 30px;
}

.acc_summary .filter ul.opt3 li a {
	width: 30px;
	height: 30px;
}
.acc_summary .filter ul.opt1 li.first a {
	background: url(../images/icon-arrow-up-scroller_h.png) no-repeat center center;
}

.acc_summary .filter ul.opt1 li.last a {
	background: url(../images/icon-arrow-down-scroller_h.png) no-repeat center center;
}

.acc_summary .filter ul.opt2 li {
	margin-left: 15px;
}

.acc_summary .filter ul.opt3 li.first a {
	background: url(../images/grid.png) no-repeat center center;
}

.acc_summary .filter ul.opt3 li.last a {
	margin-left: 5px;
	background: url(../images/list.png) no-repeat center center;
}



/* results */
.acc_summary .results .row {
	margin-left: -12px;
}

.acc_summary .results .col {
	width: 227px;
	float: left;
    border: 1px solid #ffffff;
    background-color: #ffffff;
	text-align: center;
	padding-bottom: 15px;
	height: 280px;
	margin-bottom: 12px;
}

.acc_summary .results .col-blank {
	width: 227px;
	float: left;
	text-align: center;
	padding-bottom: 15px;
	height: 280px;
	margin-bottom: 12px;
}


.acc_summary .results.grid .col .btn.closed {
	margin-top: 6.2em;
}

.acc_summary .results h3 {
    background-color: #3c3c3c;
    color: #ffffff;
	padding: 5px;
	text-align: center;
}

.acc_summary .results h4 {
	padding: 10px;
	font-weight: bold;
	text-align: left;
}

.acc_summary .results dl {
	padding: 10px 10px;
}

.acc_summary .results .due_date {
	border: 2px solid #ccc;
	padding: 5px;
	text-align: center;
	display: inline-block;
	margin-top: 10px;
}

.acc_summary .results dl dt,
.acc_summary .results dl dd {
	line-height: 20px;
}

.acc_summary .results dl dd {
	text-align: left;
	margin-left: 50%;
}

.acc_summary .results dl dt {
	float: left;
	min-width: 45%;
	text-align: right;
	padding-right: 5%;
}

.acc_summary .results dl dd.opt1 {
	text-align: right;
}

.acc_summary .results .btn {
	margin-top: 15px;
}

.acc_summary .results table th.checkbox-input {
	width: 20px;
}

.acc_summary .results table {
	border-bottom: 1px solid #C0C1C2;
}



.date.text.hasDatepicker {
    margin: 10px;
    width: 100px;
}

.acc_summary .spinner {
	background: url(../images/spinner.gif) no-repeat 50% 50%;
	height: 30px;
    width: 100%;
}

.acc_summary .center {
	text-align: center;
}

.acc_summary select{
	float: none;
}

.acc_summary button.positive {
	height: 20px;
}

.acc_summary .sort-up{
	background: url(../images/sort_up.gif) no-repeat 0% center;
	padding-left: 10px;
}

.acc_summary .sort-down{
	background: url(../images/sort_down.gif) no-repeat 0% center%;
	padding-left: 10px;
	min-width: 8em;
}

.documentSelectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


 #resultsBody thead th{
 	padding: 5px 10px;
     color: #ffffff;
     background-color: #3c3c3c;
 }



 #resultsBody tbody tr{
 	width: 100%;
 }



 #resultsBody tbody tr:nth-child(2n-1) td{
 	background: rgba(255, 255, 255, 0.65);
 }


#resultsBody tbody tr td{
 	padding: 5px 10px;
 }




 #resultsBody tbody tr.nobg td{
 	background: none;
 }




.acc_summary .results table .col .btn {
	text-align: center;
}


.acc_summary .results table .col .btn  button{
	display: inline;
	float: none;
}






/* 

  + hidden other parts when print
  + add logo to report
   
  @hoang.anh 

 */
 
#acc_header_logo {

	float: right ;
	visibility: hidden;
}

#acc_header_title{

	float: left ;
}

#acc_header {

	display: inline-block;
	width:100%;
	
}

#acc_header > * {

	vertical-align: top;
	display: inline-block;
}

/* pay button is greyed out */

.acc_summary .buttonDisable {

	background-color: #B2B3B1;
   opacity: 0.6;
	
}

.acc_summary .buttonDisable:hover {

	background-color: #B2B3B1;
   opacity: 0.6;
	
}

/* document selected */
.acc_document_selected {

	background-color: #FFFFCC

}

div#cboxLoadedContent table#document_payment_history{

	width : 95%;
} 

/* drag and drop interface */

#acc_dragdrop_left{

	float:left;
	width:48%;
	
}

#acc_dragdrop_right{

	float:right;
	width:48%;

}

.acc_dragdrop_info{

	float : left ;
	width : 100% ;
}

.acc_dragdrop_buttons {

	float : left ;
	width : 100% ;
	text-align : center ;

}

/* --- drop drag items --- */

.acc_dragdrop_item div {

	display:inline-block;
	
}
 
.acc_dragdrop_item .item_droppable {

	width : 100%;

}

.acc_dragdrop_item .item_dragable {

	width : 100%;

}

.item_dragging {

	background-color:#FFFFCC;
	cursor: pointer;
}

.item_dropping {

	background-color:#99FF99;

}

.item_dragdrop_disable {

	background-color: #B2B3B1;
   opacity: 0.6;
	
}

.item_dragdrop_disable:hover {

	background-color: #B2B3B1;
   opacity: 0.6;
	
}


 
@media print{


  body * {
    visibility: hidden;
  }
 
 .acc_summary {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .acc_summary *   {
    visibility: visible;
  }
  
  .acc_noprint {
  	display : none ;
  }
  
  
  
  #acc_header_logo  a:link:after, a:visited:after {
  
  		content:"";
  	
  }
  
   
 
}
