
/* ZK - CUSTOM */
.yw-instorelayout-instorelayout .z-button-os,
.yw-instorelayout-instorelayout .z-button {
	background: #085abc;
	color: #fff;
	-webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-radius:0px;
	border: none;
	min-height: 55px;
	font-size:20px;
	font-weight: 100;
	display: inline-block;
	margin:0;
	text-shadow: none;
	cursor: pointer;
	line-height: 42px;
}

.yw-instorelayout-instorelayout .z-button-os:hover,
.yw-instorelayout-instorelayout .z-button:hover,
.yw-instorelayout-instorelayout .z-button-os:active,
.yw-instorelayout-instorelayout .z-button:active{
	background-color: #0a4da6;
	-moz-box-shadow: inset 0px 0px 3px #085abc;
	-webkit-box-shadow: inset 0px 0px 3px #085abc;
	box-shadow: inset 0px 0px 3px #085abc;
}

.yw-instorelayout-instorelayout .z-west-splt-btn, 
.yw-instorelayout-instorelayout .z-east-splt-btn{
	background: url(images/icon_arrow_left.png) no-repeat 50% 50% #0a4da6;
	top: 5px!important;
	width: 36px;
	height: 43px;
	border: none;
	left:-36px;
	-moz-box-shadow: -3px 0px 3px #c3c4be;
	-webkit-box-shadow: -3px 0px 3px #c3c4be;
	box-shadow: -3px 0px 3px #c3c4be;
	filter: progid:DXImageTransform.Microsoft.Shadow(strength = 0, direction = 270, color = '#c3c4be');
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 0, Direction = 270, Color = '#c3c4be')";
}

.yw-instorelayout-instorelayout .z-north-splt-btn:after, 
.yw-instorelayout-instorelayout .z-south-splt-btn:after, 
.yw-instorelayout-instorelayout .z-east-splt-btn:after, 
.yw-instorelayout-instorelayout .z-west-splt-btn:after{
	display: none;
}

.yw-instorelayout-instorelayout  .z-west-colpsd{
	padding: 6px;
	border: none;
	position: relative;
        background: #CCD3DB;
}

.yw-instorelayout-instorelayout .z-borderlayout-icon{
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	background: none repeat scroll 0 0 #0A4DA6;
    border: medium none;
    left: 1px;
    padding: 5px;
    position: absolute;
    top: 1px;
}

.yw-instorelayout-instorelayout .z-borderlayout-icon .z-borderlayout-icon-img{
	background: url(images/icon_arrow_right.png) no-repeat 50% 50% #0a4da6;
	min-height: 100%;
    min-width: 100%;
}

/* ZK - CUSTOM - END */

/* GENERAL STYLES - END */

.z-window-embedded-cnt{
	/* IMPORTANT - DON'T ADD WIDGETSPECIFIC CLASS */
	padding: 0;
}

.yw-instorelayout-instorelayout .z-vlayout-inner {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#103175', endColorstr = '#0f2c6d');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#103175', endColorstr = '#0f2c6d')";
	background-image: -moz-linear-gradient(top, #103175, #0f2c6d);
	background-image: -ms-linear-gradient(top, #103175, #0f2c6d);
	background-image: -o-linear-gradient(top, #103175, #0f2c6d);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#103175), to(#0f2c6d));
	background-image: -webkit-linear-gradient(top, #103175, #0f2c6d);
	background-image: linear-gradient(top, #103175, #0f2c6d);
	border: none;
	-webkit-box-shadow:  0px 2px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.yw-instorelayout-west{
	border: none;
	-webkit-box-shadow:3px 2px 2px 0 rgba(0, 0, 0, 0.2);
   -moz-box-shadow:3px 2px 2px 0 rgba(0, 0, 0, 0.2);
   box-shadow: 3px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.yw-instorelayout-instorelayout_west_open .yw-instorelayout-west{
	-webkit-box-shadow:none;
   -moz-box-shadow:none;
   box-shadow:none;
}

.yw-instorelayout-west .z-west-header{
		background: #ccd3db;
		border-bottom: 1px solid #eaecef;
		display: none;
}

.yw-instorelayout-west .z-west-header .z-borderlayout-icon{
	display: none;
}

.yw-instorelayout-center{
	border: none;
}

.yw-instorelayout-toolbar,
.yw-instorelayout-filter{
	background: #fff;
	height: 63px;
	position: relative;
	padding: 8px 0 0 0;
	
}

.yw-instorelayout-toolbar {
	border-bottom: 1px solid #cdd4dc;
}

.yw-instorelayout-toolbar .z-hlayout-inner {
	padding-right: 0 !important;
}

.yw-instorelayout-filter-holder {
	width: 62px;
}

.yw-instorelayout-sort-holder {
	width: 61px;
}

.yw-instorelayout-header-search {
	height: 55px;
	padding: 8px 7px 9px 8px;
	position: relative;
	-webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.1);
  box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.1);
}

.yw-instorelayout-btn-cnt {
	text-align: right;
}

.yw-instorelayout-header-east {
	width: 118px;
}

.yw-instorelayout-header-east .z-hlayout-inner {
	padding-right: 0 !important;
}

.yw-scan-qr-button.z-button-os,
.yw-scan-qr-button.z-button {
	width: 55px;
	background-image: url(images/icon_barcode.png);
	background-repeat: no-repeat;
	background-position: center 18px;
	margin-right: 7px;
}

button.yw-instorelayout-header-logout.z-button,
button.yw-instorelayout-header-logout.z-button-os{
	width: 55px;
	background-image: url(images/icon_logout.png);
	background-repeat: no-repeat;
	background-position: center 11px;
	
}


.cng-adminmode .yw-instorelayout-listslot,
.cng-adminmode .yw-instorelayout-detailslot  {
	width: 49%;
	float: left;	
	position: relative;
	display: block !important;
}
