.loginContainerWindow {
	background-image:url(../images/login-admincockpit.png);
}

.admincockpit_listitem div.z-list-cell-cnt {
	height:1.6em;
	padding:1px;
	position:relative;
	width:98%;
}

.navigation-query-label span {
	color:#333333;
	font-size:10px !important;
	line-height:14px;
}

div.perspectiveChooser .z-groupbox-hl {
	padding-left: 45px;
	background: transparent url(../images/icon_cockpits_admin.png) no-repeat 6px 3px;
	min-height: 36px;
}

.editorarea .newItemGroupbox {
	display: none;
}

.typeSelectorTree .z-dottree{
	height: 100%;
	max-height: 80%;
	display: block;
}

.z-center-body > div{
	height: 100%;
}

.z-center-body > div > div{
	height: 100%;
}

div.advancedPanel{
	max-height: 80%;
	overflow: auto;
}


/* GRID VIEW */
div.gridItemMainDiv {
	position: relative;
	text-align: left;
	width: 146px;
	height: 185px;
	top: 2px;
	left: 0px;
}

div.gridImageDiv {
	position: absolute;
	left: 4px;
	top: 5px;
	width: 140px;
	height: 140px;
	overflow: hidden;
	border: 1px solid #cccccc;
}

div.gridImageDiv > img {
	height: auto;
	width:100%!important;
}

div.gridActionsDiv {
	position: absolute;
	left: 4px;
	top: 0;
}
img.gridImageSclass{
	display: block; 
	cursor: pointer; 
}

.gridActionsDiv img {
	margin-top: 3px;
	float: left;
}
div.gridLabelDiv {
	left: 4px;
	bottom: 20px;
	top:auto;
	height:14px;
	width: 100%;
	position: absolute;
	font-weight: bold;
	overflow: hidden;
}
.gridLabelDiv span {
	font-weight: bold;
	white-space: nowrap;
	font-size: 11px;
}
div.gridDescriptionDiv {
	left: 4px;
	bottom: 0;
	top:auto;
	height:20px;
	width: 140px;
	position: absolute;
	overflow: hidden;
	white-space:nowrap;
}
div.gridShortinfoDiv {
	position: absolute;
	right: 0;
	bottom: 6px;
	background:#f7f7f7 none repeat scroll 0 0;
	padding:0 2px;
	border: 1px solid #bbb;
}
.gridShortinfoDiv span {
	font-size: 10px;
	white-space: nowrap;
}

.itemBox {
	border: 1px solid #eeeeff;
	background: transparent url(images/itembox_backgr.gif) repeat-x scroll 0 0; 
	overflow: hidden;
	position: relative;
	width: 150px;
	height: 185px;
}

.itemBox:hover {
	-moz-box-shadow: 0 3px 5px #888;
 	-webkit-box-shadow: 0 3px 5px #888;
	box-shadow: 0 3px 5px #888;
}

.itemOuter {
	float: left;
	width: 160px;
	height: 195px;
	text-align: center;
	vertical-align: middle;
}

/* END GRID VIEW */

