.yw-com_hybris_instore_widgets_pageabelist .yw-pageablelist-listbox{
	height:100%;
}



.yw-com_hybris_instore_widgets_pageabelist .yw-pageablelist-gridcontainer {
	width: 100%;
	overflow: auto;
	background: #ebecee;
}

.yw-com_hybris_instore_widgets_pageabelist .yw-pageablelist-griditem {
	position: relative;
}

.yw-com_hybris_instore_widgets_pageabelist .yw-pageablelist-gridcontainer .yw-pageablelist-griditem {
	width: 260px;
	height: 140px;
	border: 1px solid #ccc;
	margin: 10px 5px;
	margin-bottom: 0;
	float: left;
	cursor: pointer;
	background: #fff;
	-moz-box-shadow: 0px 0px 5px #c2c2c4;
	-webkit-box-shadow: 0px 0px 5px #c2c2c4;
	box-shadow: 0px 0px 5px #c2c2c4;
}

.yw-com_hybris_instore_widgets_pageabelist .yw-pageablelist-nextpage{
	margin-bottom: 5px;
}

.yw-com_hybris_instore_widgets_pageabelist .yw-pageablelist-prevpage{
	margin-bottom: 5px;
}

.yw-pageablelist-label {
 	border-bottom: 1px solid #2556af;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.yw-pageablelist-label .z-label{
	color: #343945;
	font-weight: bold;
	font-size: 15px;
	
}


/* LIST WIDGET */

.yw-com_hybris_instore_widgets_pageabelist {
		background: #ebecee;
}

.yw-com_hybris_instore_widgets_pageabelist div.z-listbox,
.yw-com_hybris_instore_widgets_pageabelist .z-listbox-body{
	background: transparent none;
	border: none;
}

.yw-com_hybris_instore_widgets_pageabelist div.z-listbox-body .z-listitem{
	background: #fff;
	display: block;
	margin: 10px;
	-moz-box-shadow: 0px 0px 5px #c2c2c4;
	-webkit-box-shadow: 0px 0px 5px #c2c2c4;
	box-shadow: 0px 0px 5px #c2c2c4;
}

.yw-com_hybris_instore_widgets_pageabelist .yw-pageablelist-labelcontainer {
	  padding: 1.2%;
	  float: left;
	  width: 82%;
	  border-left: 1px solid #e5e9ed;
}


.yw-com_hybris_instore_widgets_pageabelist div.z-listbox-body .z-listcell{
	display: block;
}

.yw-pageablelist-label .z-label{
	color: #343945;
	font-weight: 200;
	font-size: 30px;	
	line-height: 37px;
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.yw-com_hybris_instore_widgets_pageabelist .yw-pageablelist-imgcontainer {
	float: left;
	width: 15%;
	background: #fff;
}

.yw-pageablelist-stock{
	float: left;
}

.yw-pageablelist-stock .yw-pageablelist-info1,
.yw-pageablelist-stock .yw-pageablelist-info2,
.yw-pageablelist-stock .yw-pageablelist-info3{
	float: left;
	padding: 0 15px;
	text-align: center;
	border-right: 1px solid #E5E9ED;
}

.yw-pageablelist-stock-value{
	display: block;
	color: #324762;
}

.yw-pageablelist-stock-value .z-label{
	font-size: 19px;
	height: 22px;
	display: block;
}

.yw-pageablelist-price{
	color: #0958b8;
	float: right;
	padding: 10px 10px 10px 10px;
}

.yw-pageablelist-price .z-label{
		font-size: 25px;
	font-size: bold;
}

.yw-pageablelist-stock-instore-false{
	background: url(images/stockInfo_false.png) no-repeat; 
	height: 22px;
	width: 22px;
	margin: 0 auto;
}

.yw-pageablelist-stock-instore-true{
	background: url(images/stockInfo_true.png) no-repeat; 
	height: 22px;
	width: 22px;
	margin: 0 auto;
}

.yw-simplelist .z-listbox-empty-body td {
	font-family: 'Roboto' !important;
	font-size: 20px;
	font-style: normal;
    line-height: 4em;
}

/* Nexus 7 (portrait) ----------- */
@media only screen and (max-width : 603px) and (orientation: portrait) {
	
	.yw-pageablelist-price .z-label{
		font-size: 20px;
	}
	
	.yw-pageablelist-label .z-label{
		font-size: 25px;
		font-weight: 100;
	}
}  


/* iPad Mini in portrait only */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.yw-facetfilter-panel-children-checkbox, 
	.yw-facetfilter-panel-children-radio{
		width: 33%;
	}
}




/* iPad Mini in landscape only */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.yw-instorelayout-instorelayout_west_closed .yw-com_hybris_instore_widgets_pageabelist div.z-listbox-body .z-listitem{
		width: 46%;
		margin-left: 2%;
		margin-right: none;
		float: left;
	}
	
	.yw-instorelayout-instorelayout_west_closed .yw-pageablelist-label .z-label{
		overflow: hidden;
		display: block;
		max-height: 36px;
		white-space: nowrap;
		text-overflow:ellipsis;
	}
}

.yw-simplelist .z-focus-a { display:none; }