.yw-breadcrumb-back-button.z-button,
.yw-breadcrumb-back-button.z-button-os {
	background: #ffde31;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffde31', endColorstr = '#ffc813');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffde31', endColorstr = '#ffc813')";
	background: -moz-linear-gradient(top, #ffde31, #ffc813);
	background: -ms-linear-gradient(top, #ffde31, #ffc813);
	background: -o-linear-gradient(top, #ffde31, #ffc813);
	background: -webkit-gradient(linear, center top, center bottom, from(#ffde31), to(#ffc813));
	background: -webkit-linear-gradient(top, #ffde31, #ffc813);
	background: linear-gradient(top, #ffde31, #ffc813);
	color: #072a55;

}

.yw-breadcrumb-back-button.z-button:hover,
.yw-breadcrumb-back-button.z-button-os:hover{
	-moz-box-shadow: inset 0px 0px 1px #000000;
	-webkit-box-shadow: inset 0px 0px 1px #000000;
	box-shadow: inset 0px 0px 1px #000000;
}

.yw-breadcrumb-holder {
	margin: 4px 0 0 4px;
}

.yw-breadcrumb .yw-breadcrumb-holder .z-toolbarbutton {
	padding: 8px 0;
	border:none;
}

.yw-breadcrumb .yw-breadcrumb-holder .z-toolbarbutton-over {
	padding: 8px 0;
	border:none;
}

.yw-breadcrumb .yw-breadcrumb-holder .z-toolbarbutton-over .z-toolbarbutton-body,
.yw-breadcrumb .yw-breadcrumb-holder .z-toolbarbutton-body {
	border:none;
	padding: 0;
}

.yw-breadcrumb .yw-breadcrumb-holder .z-toolbarbutton-cnt {
	font-size: 20px;
	color: #072a55;
	font-weight: 100;
	background: none;
	border: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100px;
	display: block;
}

.yw-breadcrumb .yw-breadcrumb-holder .yw-breadcrumb-toolbarbutton-active  .z-toolbarbutton-cnt{
	color: #0A4DA7;
}

.yw-breadcrumb .yw-breadcrumb-holder .yw-breadcrumb-toolbarbutton-inactive  .z-toolbarbutton-cnt{
	color: #ccc;
}

.yw-breadcrumb .yw-breadcrumb-holder .z-toolbarbutton-over .z-toolbarbutton-cnt{
	color: #0a4da7;
}

.yw-breadcrumb .yw-breadcrumb-holder .yw-breadcrumb-separator.z-label{
	display: block;
  font-size: 20px;
  font-weight: 100;
  padding-top: 11px;
}

.yw-breadcrumb .yw-breadcrumb-holder .z-hbox-sep{
	display: none;
}

/* Nexus 7 (landscape) ----------- */
@media only screen and (min-width : 604px) and (orientation: landscape) {
	max-width: 300px;
}


/* iPad Mini in landscape only */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.yw-breadcrumb .yw-breadcrumb-holder .z-toolbarbutton-cnt {
		max-width: 350px;
	}
}


