#registerForm .form_field_error {
	width:auto;
    float: none;
	padding-right:0;
	clear:both;
}


#recaptcha_widget{
	margin:20px 0 0 0;
}

#recaptcha_image{
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #BBBBBB;
	overflow:hidden;
	margin:0 0 5px 0 ;
	background:#fff;
}




#recaptcha_widget .cicon{
	display:block;
	width:20px;
	height:20px;
	margin:5px;
	float:left;
	
}



#recaptcha_widget .cicon.reload{
	background:url("../images/reload.png") no-repeat center center;
}

#recaptcha_widget .cicon.audio{
	background:url("../images/audio.png") no-repeat center center;
}

#recaptcha_widget .cicon.image{
	background:url("../images/image.png") no-repeat center center;
}


#recaptcha_widget .cicon.help{
	background:url("../images/info.png") no-repeat center center;
}


#recaptcha_widget  .recaptcha_audio_cant_hear_link{
	display:block;
	width:26px;
	height:26px;
	overflow:hidden;
	text-indent:-999em;
	float:left;
	cursor:pointer;
}


#recaptcha_audio_play_again{
	background:url("../images/replay.png") no-repeat center center;
	margin:10px 31px 10px 62px;
}


#recaptcha_audio_download{
	background:url("../images/download.png") no-repeat center center;
	margin:10px 62px 10px 31px;
}


#recaptcha_image  br{
	display:none;
}




.ui-field-contain label.ui-input-text {
    width: 68%;
}


#recaptcha_image{
	width: 68% !important;
	height:auto !important;	
}

#recaptcha_image > img{
	width: 100% !important;
	height:auto !important;	
	
}

@media (min-width:448px) { 
	#recaptcha_image{
		width: auto !important;
		height:auto !important;	
	}
	
	
	#recaptcha_image > img{
		width: auto !important;
		height:auto !important;	
	
	}
	
	#recaptcha_widget  .right{
		margin:0 0 0 32%;
	}
	
	.ui-field-contain label.ui-input-text {
	    width: 30%;
	}
 }



