.yw-sort-menuitem label {
	padding-left: 10px;
	font-size: 15px;
}

.yw-sort-button.z-button-c,
.yw-sort-button.z-button-os,
.yw-sort-button.z-button {
	width: 55px;
	background-image: url('images/sort.png') !important;
	background-repeat:no-repeat !important;
	background-position: center 8px !important;
}

.yw-sort-menupopup {
	background: #CCD3DB;
	border: none;
	-webkit-box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.35);
   box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.35);
}

.yw-sort-menupopup.z-popup .z-popup-cl{
	background: none;
}

.yw-sort-menupopup.z-popup .z-popup-cnt{
	background: #CCD3DB;
	padding: 0;
	color: #3C4F64;
}

.yw-sort-menupopup.z-popup .z-popup-cnt .z-vlayout .z-vlayout-inner{
	margin: 0;
	padding: 10px!important;
	border-bottom: 1px solid #FFFFFF;
}

.yw-sort-menupopup.z-popup .z-popup-cnt .z-vlayout .z-vlayout-inner:last-child{
	border:none;
}

.yw-sort-menupopup.z-popup .z-popup-cnt .z-menuitem{
	margin: 0;
}

.yw-sort-menupopup.z-popup .z-popup-cnt .z-menu a.z-menu-cnt,
.yw-sort-menupopup.z-popup .z-popup-cnt .z-menuitem a.z-menuitem-cnt
.yw-sort-menupopup.z-popup .z-popup-cnt .z-menuitem a.z-menuitem-cnt .z-menu-text,
.yw-sort-menupopup.z-popup .z-popup-cnt .z-menuitem a.z-menuitem-cnt .z-menuitem-text{
	color: #3C4F64;
	font-size: 18px;
	line-height: 35px;
}

.yw-sort-menupopup.z-popup .z-popup-cnt .z-menu:active,
.yw-sort-menupopup.z-popup .z-popup-cnt .z-menu:hover,
.yw-sort-menupopup.z-popup .z-popup-cnt .z-menu-body-seld,
.yw-sort-menupopup.z-popup .z-popup-cnt .z-menuitem:active,
.yw-sort-menupopup.z-popup .z-popup-cnt .z-menuitem:hover{
	background: #ffde31;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffde31', endColorstr = '#ffc813');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffde31', endColorstr = '#ffc813')";
	background: -moz-linear-gradient(top, #ffde31, #ffc813);
	background: -ms-linear-gradient(top, #ffde31, #ffc813);
	background: -o-linear-gradient(top, #ffde31, #ffc813);
	background: -webkit-gradient(linear, center top, center bottom, from(#ffde31), to(#ffc813));
	background: -webkit-linear-gradient(top, #ffde31, #ffc813);
	background: linear-gradient(top, #ffde31, #ffc813);
}

.yw-sort-menuitem.z-menuitem-over .z-menuitem-cl,
.yw-sort-menuitem.z-menuitem-over .z-menuitem-cm,
.yw-sort-menuitem.z-menuitem-over .z-menuitem-cr{
	background: none;
}

.yw-sort-menuitem {
	white-space: nowrap;
}