.yw-facetfilter-main {
	overflow: auto;
}

.yw-facetfilter-panel{
	width: 100%;
}

.facetvlayout{
	width: 100%;
}

.yw-facetfilter-panel-children{
	padding: 10px;
}

.yw-facetfilter-panel-children-checkbox, 
.yw-facetfilter-panel-children-radio{
	width: 50%;
	float: left;
	border-top: 1px solid #ddd;
	padding: 10px 0;
}

.yw-facetfilter-panel-children-checkbox label,
.yw-facetfilter-panel-children-radio label{
	padding-left: 5px;
	padding-top: 5px;
	width: 80%;
}

.yw-facetfilter-panel-children-checkbox *,
.yw-facetfilter-panel-children-radio *{
	vertical-align: middle;
}

.yw-facetfilter-panel-children-checkbox input,
.yw-facetfilter-panel-children-radio input{
	display: inline-block;
    float: left;
    margin-bottom: 5px;
}

.yw-facetfilter-main{
	width: 100%;
	height: 100%; 
	position: relative;
	background: #EBECEE;
	overflow: auto;
}
.yw-facetfilter-footer{
    color: #fff;
}

.yw-facetfilter-footer-inner{
	background:  #4C5C76;
	width: 100%;
	height: 55px;
	margin: 0 auto;
	text-align: center;
	-webkit-box-shadow:  0px 2px -3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 2px -3px 0px rgba(0, 0, 0, 0.1);
}

.yw-facetfilter-footer-inner-label{
 	float: left;
 	padding: 10px;
 	font-size:15px;	
}
.yw-facetfilter-footer-inner-button{
	float: right;
}

.yw-facetfilter-panel .z-panel-head{
	background: #CCD3DB;
	border: none;
	color:  #4C5C76;
	border-radius:0;
	padding-top: 0px;
}

.yw-facetfilter-panel .z-panel-header{
	background: none repeat scroll 0 0 #CCD3DB;
    border: medium none;
    border-radius: 0 0 0 0;
    color: #4C5C76;
    padding-top: 0;
}

.yw-facetfilter-panel-caption .z-caption-l {
	color: #4C5C76;
  font-size: 18px;
  font-weight: 100;
  padding: 6px 10px 0;
	text-shadow: none;
}

.yw-facetfilter-breadcrumbs {
	padding: 8px;
}

.yw-facetfilter-footer-inner-button,
.yw-facetfilter-footer-inner-button{
	background: #085abc;
	color: #fff;
	border-radius:0;
	border: none;
	min-height: 55px;
	font-size:20px;
	font-weight: 100;
	display: inline-block;
	margin:0;
	text-shadow: none;
	cursor: pointer;
}

.yw-facetfilter-footer-inner-button:hover,
.yw-facetfilter-footer-inner-button:active{
	background-color: #0a4da6;
	-moz-box-shadow: inset 0px 0px 3px #085abc;
	-webkit-box-shadow: inset 0px 0px 3px #085abc;
	box-shadow: inset 0px 0px 3px #085abc;
}



.yw-facetfilter-spacer {
	height: 10px;	
}

.yw-facetfilter-breadcrumb,
.yw-facetfilter-clearall {
	float: left;	
	padding-left: 10px;
	margin: 1px 5px 9px 5px;
	border: 1px solid #CCC;
	background: #ccd3db;
}

.yw-facetfilter-removebreadcrumb {
	margin: -4px 10px 0 10px;
	width: 24px;
	cursor: pointer;	
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMUlEQVQYlWNgIAWwa4X+Z9cK/U9QHCaALIhNDEMCpyJcigm6lSTTCLoPr2eIDh5iAABzFjzJfVTuiwAAAABJRU5ErkJggg==') no-repeat center #fff;	
}

.yw-facetfilter-clearall {
	background: #4C5C76;
	cursor: pointer;
	padding-right: 10px;
}


.yw-facetfilter-breadcrumb .z-label,
.yw-facetfilter-clearall .z-label {
	font-size:20px;
	font-weight: 100;
	text-shadow: none;
	color: #072a55;
	line-height: 40px;
	
}

.yw-facetfilter-clearall .z-label {
	color: white;
}


.yw-facetfilter-listbox.z-listbox {
	border: none;
}

tr.yw-facetfilter-listitem > td.z-listcell {
	padding: 0;
	border: none;
}

.yw-facetfilter-listbox .z-listitem.yw-facetfilter-listitem,
.yw-facetfilter-listbox > .z-listbox-body  {
	background: none;
}

.yw-facetcontainer-window{
	border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
}

.yw-facetcontainer-window .z-radio-cnt {
  font-size: 14px;
}

.yw-facetcontainer-window .z-window-highlighted-tl{
	height: 0px;
}

.yw-facetcontainer-window .z-window-highlighted-hr{
	padding-right: 0px;
}

.yw-facetcontainer-window .z-window-highlighted-hl{
	padding-left: 0px;
}





/* Nexus 7 (portrait and landscape) ----------- */
@media only screen and (min-device-width : 603px) and (max-device-width : 966px) {
}

/* Nexus 7 (landscape) ----------- */
@media only screen and (min-width : 604px) and (orientation: landscape) {
    
    .yw-facetfilter-panel-children-checkbox, 
	.yw-facetfilter-panel-children-radio{
		width: 33%;
	}
}

/* Nexus 7 (portrait) ----------- */
@media only screen and (max-width : 603px) and (orientation: portrait) {
     
     .yw-facetfilter-panel-children-checkbox, 
	.yw-facetfilter-panel-children-radio{
		width: 50%;
	}
}

/* iPad Mini in portrait & landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}

/* iPad Mini in landscape only */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.yw-facetfilter-panel-children-checkbox, 
	.yw-facetfilter-panel-children-radio{
		width: 33%;
	}
}

/* iPad Mini in portrait only */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.yw-facetfilter-panel-children-checkbox, 
	.yw-facetfilter-panel-children-radio{
		width: 50%!important;
	}
}