.loginContainerWindow {
	background-image: url(../images/login-reportcockpit.png);
}


.dashboard_toolbar_component .browser_view_mode_switch{
	background-image: none !important;
	background-color: transparent !important;
	display: block;
	float: left;
} 


div.perspectiveChooser .z-groupbox-hl {
	padding-left: 45px;
	background: transparent url(../images/icon_cockpits_report.png) no-repeat 6px 3px;
	min-height: 36px;
}

.navigation_center.perspChooserHidden {
    top: 94px;
}

div.perspectiveChooser {
    display: block !important;
}


.dashboard_toolbar_component{
 	background: #ededee;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.07, rgb(211,213,215)), color-stop(0.77, rgb(235,235,235)));
	background-image: -moz-linear-gradient(center bottom, rgb(211,213,215) 7%, rgb(235,235,235) 77% );
	-moz-box-shadow: 0 1px 2px #999;
 	-webkit-box-shadow: 0 1px 2px #999;
	box-shadow: 0 1px 2px #999;
}

.toolbar_newitem_action{
	display: inline;
	float:none;
}