/* style definitions for images */
img							{ border: none }

/* style definitions for general links */
a:link						{ color:#0021c7; text-decoration:none; }
a:visited					{ color:#0021c7; text-decoration:none; }
a:hover						{ color:#0021c7; text-decoration:underline; }
a:active						{ color:#0021c7; text-decoration:underline; }
a:focus						{ color:#0021c7; text-decoration:underline; outline: none; }
a								{ cursor:default; }

/* style definitions for image links */
a.imagelink					{ border:solid 1px #f2f2f5; text-decoration:none; }
a.imagelink:hover 		{ border:dotted 1px #7c9eb9; text-decoration:none; }
a.imagelink:focus 		{ border:dotted 1px #7c9eb9; text-decoration:none; }
a.imagelink:active 		{ border:dotted 1px #7c9eb9; text-decoration:none; }
