div.pageListBox  { border: 1px solid #ccc; width: 330px; }
div.pageListBox .z-listbox-body { width: auto !important; }
div.pageListBox .z-list-cell-cnt input[type=checkbox] { margin-right: 20px; top: 2px; position: relative; float: left; }
div.pageListBox .defaultPage .z-list-cell-cnt input[type=checkbox] { margin-right: 10px; }
div.pageListBox .z-list-cell-cnt { line-height: 20px; white-space:nowrap; }
div.pageListBox .defaultPage .z-list-cell-cnt { font-weight: bold; border-bottom: 1px dotted #ccc; }
div.pageListBox tr.z-list-item { background: none; }
div.pageListBox .smallImg { width: 12px; border:1px solid #AAAAAA; margin-left:2px; position:relative; top:2px;}
.dis_true { opacity: 0.5; }