/* Error+Warning message header box */
.product-config-head-error,.product-config-head-warning {
	background-color: #FFF2F2;
	border: 1px solid #FF4040;
	padding: 5px 5px 5px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.productListItem .cart .configure_form {
	width : 29%;
	float:right;
}

.productAddToCartPanel>#addToCartForm {
	width: 192px;
	height: 38px;
	float: right;
	margin-bottom: 19px;
}

.product-config-head-error-title,.product-config-head-warning-title {
	display: block;
	color: #FF0000;
	font-weight: bold;
	margin-bottom: 5px;
	position: relative;
}

.product-config-head-error-title:before {
	content: url('../images/Alert_Icon_18x18px.png');
	position: relative;
	top: 4px;
	margin-right: 2px;
}

.product-config-head-warning-title:before {
	content: url('../images/Conflict_Icon_18x18px.png');
	position: relative;
	top: 4px;
	margin-right: 2px;
}

.product-config-head-error-msg a,.product-config-head-warning-msg a {
	color: #0070C0;
	text-decoration: underline;
	position: relative;
}

.product-config-image .span-20 {
	display: inline;
	width: 818px;
	margin-left: -2px;
	margin-right: 0px;
}

.product-config-image .span-24 .prod_image_main {
}

.product-config-form {
	padding-left: 4px;
}

.product-config-title-summary {
	display: inline-block;
	margin-bottom: 25px;
}

 .product-config-title-text {
	font-size: 2em;
    font-weight: normal;
    padding-left: 5px;

}

.product-config-summary-text {
	margin-top: 5px;
	padding-left: 5px;
	font-size: 12px;
}

.product-config-tab-navigation {
	margin-bottom: 40px;
	overflow: hidden;
}

.product-config-tab-list {
	font-size: 1.167em;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 01px solid #979797;
/* 	display: block; */
	padding: 0;
	margin: 0;
	list-style-type: disc;
 	width: 951px; 
/* 	float: left; */
	margin-left: 5px;
	height: 40px;
}

.product-config-tab-title>a {
	padding: 10px 20px 9px 20px;
	color: #666666;
	float:left;
}

.product-config-tab-selected>a {
	padding: 10px 19px 9px 19px;
	color: #000;
	background: #fff;
	border: 1px solid #979797;
	border-bottom: 0;
	margin: 0 0 -1px 0;
	float:left;
}

.product-config-tab-selected.product-config-group-tab-error>a,
.product-config-tab-selected.product-config-group-tab-warning>a {
	padding-right: 15px;	
	padding-bottom: 6px;	
}

.product-config-group-tab-error>a {
	padding-right: 15px;	
	padding-bottom: 0px;
}

.product-config-group-tab-error>a:after {
	content: url("../images/Alert_Icon_18x18px.png");
	float:right;
	position: relative;
	margin-left: 10px;
	top: 2px;
}

.product-config-group-tab-warning>a {
	padding-right: 15px;
	padding-bottom: 0px;
}

.product-config-group-tab-warning>a:after {
	content: url("../images/Conflict_Icon_18x18px.png");
	float:right;
	position: relative;
	margin-left: 10px;
	top: 2px;
}

.product-config-group-error:after {
	content: url("../images/Alert_Icon_18x18px.png");
	float: right;
	top: 4px;
	position: relative;
}

.product-config-group-warning:after {
	content: url("../images/Conflict_Icon_18x18px.png");
	float: right;
	top: 4px;
	position: relative;
}
	
.product-config-group {
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}

.product-config-group-header:hover {
	cursor:pointer;	
}

.product-config-group-header {
	background-color: #F6F6F6;
	padding: 5px;
	margin-bottom: 8px;
	margin-top: 3px;
}

.product-config-group-title-minus:before {
	content: url("../images/facet-collapse-minus.png");
	padding-right: 3px;
	margin-left: 5px;
	position: relative;
	top: -4px;
}

.product-config-group-title-plus {
	margin-bottom: 7px;
}

.product-config-group-title-plus:before {
	content: url("../images/facet-collapse-plus.png");
	padding-right: 3px;
	margin-left: 4px;
}

.product-config-group-title {
	display: inline-block;
	margin-top: 3px;
	margin-left: 3px;
	font-size: 120%;
	font-weight: bold;
}

.product-config-cstic {
	padding-left: 3px;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-bottom: 15px;
	width: 97%;
}

/* cstic labels */
.product-config-csticlabel {
	display: block;
	padding-left: 18px;
	margin-bottom: 1px;
	font-size: 12px;
	font-weight: bold;
	border: none;
	clear: both;
}

.product-config-csticlabel.product-config-csticlabel-required:after {
	content: url("../images/label_required.gif");
	padding-left: 3px;
}

.product-config-csticlabel.product-config-csticlabel-success {
/* 	background: url("../images/icon_status_success.gif") no-repeat scroll */
/* 		left rgba(0, 0, 0, 0); */
}

.product-config-csticlabel.product-config-csticlabel-error {
/* 	background: url("../images/icon_status_error.gif") no-repeat scroll left */
/* 		rgba(0, 0, 0, 0); */
	color: #FF4040;
	font-weight: bold;
}

.product-config-csticlabel.product-config-csticlabel-warning {
/* 	background: url("../images/icon_status_error.gif") no-repeat scroll left */
/* 		rgba(0, 0, 0, 0); */
	color: #FF4040;
	font-weight: bold;
}

.product-config-cstic-long-text {
	display: block;
	padding-left: 18px;
	margin-top: 10px;
	margin-bottom: 8px;
	font-size: 12px;
	border: none;
	clear: both;
	word-wrap: break-word;
}

.product-config-cstic-moretext {
    display: inline;
}

a.product-config-cstic-lesslink, a.product-config-cstic-morelink {
	cursor: pointer;
	text-decoration: underline;
	color: #0070C0;
	float: right;
}

/* cstic values */
.product-config-csticValue {
	margin-left: 18px;
	font-size: 12px;
	margin-top: 0px;
	clear: both;
	float: none;
}

.product-config-csticValue-multi {
	display: inline-block;	
	width: 97%;
}

.product-config-csticValueSelect {
	margin-top: 6px;
	margin-left: 0px;
	font-size: 12px;
	margin-bottom: 0px;
	clear: left;
	float: left;
}

.product-config-csticValueSelect-single {
	margin-top: 5px;
	float: none;
}

.product-config-csticValueSelect-first {
	margin-top: 5px;
}

.product-config-csticValueLabel {
	margin-top: 2px;
	font-size: 12px;
	clear: right;
	float: left;
	padding-top:2px;
}

.product-config-csticValueLabel-first {
	margin-top: 1px;
}


.product-config-csticValueLabelWithoutSelect {
	clear: both;
	margin-top: 2px;
	font-size: 12px;
	padding-top:2px;
}

.product-config-csticValue.product-config-csticValue-error {
	border-color: #FF4040;
	float: none;
}

input.product-config-csticValue{
	margin-top: 0px;
	padding: 4px;
}

select.product-config-csticValue {
	margin-left: 0px;
}

input.product-config-csticValue.product-config-csticError {
	border: 1px solid #FF4040;

}

input.product-config-csticValue.product-config-csticError:focus {
	border: 1px solid #FF4040;
}



/* required field legend */
.product-config-legend-required {
	background: url("../images/label_required.gif") no-repeat scroll left
		top rgba(0, 0, 0, 0);
	padding-left: 10px;
	margin-right : 4px;
	margin-top: 10px;
	display: block;
	float: right;
}


/* cstic error+warning message */
.product-config-error-msg {
	display: block;
	background: url("../images/Alert_Icon_12x12px.png") no-repeat scroll left    rgba(0, 0, 0, 0);
	padding-left: 20px;
	padding-top: 3px;
	margin-left: 18px;
	color: #FF4040;
	font-weight: bold;
}

.product-config-warning-msg {
	display: block;
	background: url("../images/Conflict_Icon_12x12px.png") no-repeat scroll left 
		rgba(0, 0, 0, 0);
	padding-left: 20px;
	padding-top: 2px;
	margin-left: 18px;
	color: #FF4040;
	font-weight: bold;
}


.product-config-addtocart {
	padding: 4px;
	padding-bottom:10px;
	display: block;
	float: right;
	clear: both;
	cursor:auto;
}

.configContent .product-config-addtocart {
    padding-left: 0;
    position: relative;
    right: 13px;
	float: none;
	display: block;
	cursor:auto;
}


.product-config-addtocart button.out-of-stock, .product-config-addtocart button.product-config-addtocart-inactive {
	background: none repeat scroll 0 0 #999999;
	padding-left: 10px;
	margin-top: 10px;
	position: inline-block;
	cursor:default;
}

.product-config-addtocart button {
	align-items: flex-start;
	background-color: #0068B3;
	border-color: #0068B3;
	border-style: none;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	height: 40px;
	width: 191px;
	margin-left: 0px;
	margin-top: 8.4px;
	margin-bottom: 4.4px;
	margin-right: 6px;
	padding: 0px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-transform: uppercase;
}

.product-config-addtocart-showonly {
	margin-left: 13px;	
}


.product-config-addtocart button:hover {
	background-position: left -35px;
}

.product-config-sidebar {
	display: block;
	float: inherit;
}

.configSidebar.fixed {
	position: fixed;
}

.configSidebar {
}



.product-config-specification-content{
	padding: 5px;
	overflow: hidden;
}

.product-config-specification-content-scroll-wrapper {
	padding: 0px 10px 0px 0px;
}

.product-config-specification-content .product-config-specification-node {
	padding: 6px 0px 6px 0px;
	padding-left: 0px;
	text-transform : uppercase; 
	font-weight:bold;
	margin-left: 5px;
}

.product-config-specification-content .product-config-specification-node .product-config-specification-node {
	padding: 5px 0px 3px 0px;
	text-transform : none; 
	font-weight:bold;
}

.product-config-specification-content .product-config-specification-node .product-config-specification-node .product-config-specification-node{
	padding: 2px 0px 2px 8px;
	
}

.product-config-specification-content .product-config-specification-node .product-config-specification-node .product-config-specification-node .product-config-specification-node{
	padding: 2px 0px 3px 12px;
}

.product-config-specification-content .product-config-specification-node .product-config-specification-node .product-config-specification-node .product-config-specification-node .product-config-specification-node{
	padding: 2px 0px 3px 12px;
	font-weight:normal;
}


.product-config-specification-node-title-link:hover {
	text-decoration: underline;
	cursor:pointer;	
	color: #356f70;	
}

.product-config-specification-node-title {
	display: inline;
}

.product-config-specification-node-minus,.product-config-specification-node-plus,
.product-config-specification-node-warning,.product-config-specification-node-error {
	display: inline;
}


.product-config-specification-node-minus:before {
	content: url("../images/minus.png");
	padding-left: 3px;
	margin-right: 5px;
	float: right;
}


.product-config-specification-node-plus:before {
	content: url("../images/plus.png");
	float: right;
	padding-left: 3px;
	margin-right: 5px;
}

.product-config-specification-node-hr{
  border-top: 1px dashed #EEEEEE;
  height: 1px; 
}

.product-config-specification-node-error:before{
	content: url('../images/Alert_Icon_18x18px.png');
	float: right;
	padding-left: 3px;
	margin-right:28px;
}

.product-config-specification-node .product-config-specification-node .product-config-specification-node-error:before{
	content: url('../images/Alert_Icon_12x12px.png');
	float: right;
	padding-left: 3px;
	margin-right:28px;
}


.product-config-specification-node .product-config-specification-node .product-config-specification-node-warning:before {
	content: url('../images/Conflict_Icon_12x12px.png');
	float: right;
	padding-left: 3px;
	margin-right: 28px;
}

.product-config-specification-node-warning:before {
	content: url('../images/Conflict_Icon_18x18px.png');
	float: right;
	padding-left: 3px;
	margin-right: 25px;
}

.product-config-specification-comp-error.product-config-specification-node-plus:before{
	content: url('../images/Alert_Icon_18x18px.png') "\00a0\00a0\00a0" url("../images/plus.png");
	float: right;
	padding-left: 3px;
	margin-right: 5px;
}

.product-config-specification-comp-warning.product-config-specification-node-plus:before {
	content: url('../images/Conflict_Icon_18x18px.png') "\00a0\00a0\00a0" url("../images/plus.png");
	float: right;
	padding-left: 3px;
	margin-right: 5px;
}

.product-config-specification-node-error.product-config-specification-node-minus:before{
	content: url('../images/Alert_Icon_18x18px.png') "\00a0\00a0\00a0" url("../images/minus.png");
	float: right;
	padding-left: 3px;
	margin-right: 5px;
}

.product-config-specification-node-warning.product-config-specification-node-minus:before {
	content: url('../images/Conflict_Icon_18x18px.png') "\00a0\00a0\00a0" url("../images/minus.png");
	float: right;
	padding-left: 3px;
	margin-right: 5px;
}

.product-config-side-comp-border {
	border-bottom: 01px solid #979797;
	padding-bottom: 0px;
}

.product-config-side-comp-header {
	border-bottom: 01px solid #979797;
	padding-bottom: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

.product-config-side-comp {
	padding: 4px;
	margin-bottom: 20px;
	display: block;
	float: right;
	clear: both;
	width:300px;
}

.product-config-side-comp-header-minus:after {
	content: url("../images/facet-collapse-minus.png");
	padding-right: 3px;
	margin-left: 5px;
	float: right;
}

.product-config-side-comp-header-plus:after {
	content: url("../images/facet-collapse-plus.png");
	padding-right: 3px;
	margin-left: 5px;
	float: right;
	margin-top: 9px;
}

.product-config-specification-comp-error:after {
	content: url('../images/Alert_Icon_18x18px.png') "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0" url("../images/facet-collapse-plus.png");
	padding-right: 3px;
	margin-left: 5px;
	float: right;
	margin-top: 6px;
}

.product-config-specification-comp-warning:after {
	content: url('../images/Conflict_Icon_18x18px.png') "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0" url("../images/facet-collapse-plus.png");
	padding-right: 3px;
	margin-left: 5px;
	float: right;
	margin-top: 6px;
}

.product-config-price-summary-other-label {
	font-size: 90%;
	float:left;
	clear: left;
	padding-left: 10px;
}

.product-config-price-summary-total-price-label {
	font-weight: bold;
	display: block;		
	float:left;
	overflow:hidden;
	padding-left: 10px;
}

.product-config-price-summary-total-price-value {
	font-weight: bold;
	text-align: right;
	overflow:hidden;
	padding-right: 10px;
}

.product-config-price-summary-sub-price-label {
	display: block;		
	float:left;
	overflow:hidden;
}

.product-config-price-summary-sub-price-value {
	text-align: right;
	overflow:hidden;
}

div>#priceSummarySubContent {
	border-bottom: 01px solid #979797;
	padding-bottom: 4px;
	margin-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

.product-config-price-summary-content {
	display: inline-block;
	width: 280px; 
}

.product-config-csticValueDeltaPrice{
	display: inline-block;
	float: right;
}

.product-config-additionalValue {
  margin-left: 0;
  margin-top: 8px;
 }
  
.product-config-image .productImage .productImagePrimary a.productImageZoomLink{
	right:420px;
	
}
