/* AddToCart popup */
.product-config-addToCartPopup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.68);
	z-index: 2147483647;
	opacity: 1;
	transition: opacity 400ms ease-in;
	pointer-events: auto;
}

.product-config-addToCartPopup:target {
	opacity: 1;
	pointer-events: none;
}

.product-config-addToCartPopup>div {
	width: 600px;
	position: relative;
	margin: 10% auto;
	padding: 10px 10px 10px 10px;
	border-radius: 4px;
	background: #FFF;
}

.product-config-addToCartPopup .header {
	width: 600px;
	position: inherit;
	background: url(../images/bg-gradient.png) repeat-x center top #172532;
	position: relative;
	padding: 10px 10px 10px 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	top: -10px;
	left: -10px;
}

.product-config-addToCartPopup .title {
	color: #fff;
	
	text-transform: uppercase;
	text-shadow: 0 -1px 1px #333;
	font-size: 1.1em;
	width: 300px;
	margin-top: 4px;
	margin-left: 26px;
}

.product-config-addToCartPopup .title:before {
	content: url('../images/icon-cart-put.png');
	position: relative;
	left: -15px;
	top: 4px
}

.product-config-addToCartPopup .close {
	cursor: pointer;
}

.product-config-addToCartPopup .close:before {
	float: right;
	margin-top: -15px;
	margin-right: 10px;
	content: url('../images/icon-modal-cart-close.png'); 
}

.product-config-addToCartPopup .main {
	
}

.product-config-addToCartPopup .entrymessage {
	font-weight: bold;
	line-height: 1.1;
	padding: 0px 10px 10px 10px;
}

.product-config-addToCartPopup .productname {
	padding: 0px 10px 10px 10px;
}

.product-config-addToCartPopup .nextsteps {
	font-weight: bold;
	padding: 0px 10px 0px 10px;
}

.product-config-addToCartPopup .image {
	width: 150px;
	height: 150px;
	padding: 0px 10px 10px 10px;
	margin-right: 10px;
	float: left;
}

.product-config-addToCartPopup .image>img {
	width: 150px;
	height: 150px;
}

.product-config-addToCartPopup .productlinks {
	float: left
}

.product-config-addToCartPopup .productlinkheader {
	font-weight: bold;
	padding-bottom: 15px;
}

.product-config-addToCartPopup .homelink {
	padding-top: 30px;
	padding-bottom: 10px;
}

.product-config-addToCartPopup .link {
	padding-bottom: 10px;
}

.product-config-addToCartPopup .link a {
	cursor: pointer;
	text-decoration: underline;
	color: #0000FF;
}

.product-config-addToCartPopup .gotocart {
	margin: -20px 22px 10px 10px;
	float: right;
	display: inline;
}

.product-config-addToCartPopup .button {
	background-color: #0068B3;
	border-color: #0068B3;
	border-style: none;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	height: 32px;
	width: 141px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-transform: uppercase;
}

.product-config-addToCartPopup .button.second {
	background-color: rgb(248, 248, 248);
	border-color: rgb(199, 199, 199);
	border-style: solid;
	border-width: 2px;
}


.product-config-addToCartPopup .button.second>a {
	color: rgb(119, 119, 119);
	text-decoration: none solid rgb(119, 119, 119);	
}

.product-config-addToCartPopup .button>a {
	color: #FFF;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: center;
	text-transform: uppercase;
	line-height: 15px;
	padding-top: 7px;
	display: block;
}

.product-config-addToCartPopup .warnings {
	background-color: #FFF2F2;
	border: 1px solid #FF4040;
	padding: 10px 10px 10px 25px;
	margin: 5px 10px 10px 10px;
}

.product-config-addToCartPopup .warning-title {
	display: block;
	color: #FF0000;
	font-weight: bold;
	position: relative;
	left: -17px;
}

.product-config-addToCartPopup .warning-title:before {
	content: url('../images/Conflict_Icon_18x18px.png');
	position: relative;
	left: -3px;
	top: 3px;
}

.product-config-addToCartPopup .warning-msg {
	display: block;
	padding-left: 1px;
	padding-top: 1px;
	line-height: 1.1;
}

.product-config-addToCartPopup .resolve {
	position: relative;
	left: 400px;
	padding-top: 5px;
	display: block;
}

.product-config-addToCartPopup .moreLink a {
	cursor: pointer;
	text-decoration: underline;
	color: #0070C0;
}