/* Clear down all existing styles inside the promotions container */
#promo-abstractorderPromotionsTab *
{
	border: 0;
	padding: 0;
	margin: 0;
}

#promo-abstractorderPromotionsTab ul { list-style: none; }
#promo-abstractorderPromotionsTab li { display: block; }

#promo-abstractorderPromotionsTab h2
{
	color: #0021C7;
	border-bottom: 1px solid #bbb;
	font-size: 9pt;
	margin: 10px 0 10px;
}

/* Style all tables to have 1px gridlines */

#promo-abstractorderPromotionsTab table
{
	background: white;
	border-left: 1px solid #bbb;
	border-top: 1px solid #bbb;
	width: 100%;
}

#promo-abstractorderPromotionsTab table thead td, #promo-abstractorderPromotionsTab table tbody td
{
	border-bottom: 1px solid #bbb;
	border-right: 1px solid #bbb;
	color: #666;
	font-size: 8pt;
	padding: 3px;
}

#promo-abstractorderPromotionsTab table thead td
{
	background: #e1e1e1;
	font-weight: bold;
}

#promo-abstractorderPromotionsTab ul.promo-firedProductPromotions li.fireProductPromotion
{
	background: #dfd;
	border: 1px solid #a1b9a1;
	margin-bottom: 10px;
	padding: 0 6px 6px;
}

#promo-abstractorderPromotionsTab ul.promo-firedOrderPromotions li
{
	background: #dfd;
	border: 1px solid #a1b9a1;
	margin-bottom: 10px;
	padding: 4px;
}

#promo-abstractorderPromotionsTab ul.promo-firedOrderPromotions li.promo-notApplied,
#promo-abstractorderPromotionsTab ul.promo-firedProductPromotions li.promo-notApplied
{ background: #ddf; }

#promo-abstractorderPromotionsTab ul.promo-firedProductPromotions li.promo-notApplied .promo-heading
{ background: #c9c9e8; }

#promo-abstractorderPromotionsTab ul.promo-firedProductPromotions .promo-heading
{
	background: #C9E8C9;
	border-bottom: 1px solid #a1b9a1;
	font-weight: bold;
	margin: 0 -6px 6px;
	padding: 4px 6px 4px;
}

/* Products with potential promotions */

#promo-abstractorderPromotionsTab ul.promo-potentialProductPromotions,
#promo-abstractorderPromotionsTab ul.promo-potentialOrderPromotions
{
	float: left;
	margin-bottom: 10px;
	width: 100%;
}

#promo-abstractorderPromotionsTab ul.promo-potentialOrderPromotions li
{
	background: #ffd;
	border: 1px solid #b9b9a1;
	float: left;
	margin-bottom: 10px;
	width: 100%;
}

#promo-abstractorderPromotionsTab ul.promo-potentialOrderPromotions li .promo-heading
{
	padding: 4px;
}

#promo-abstractorderPromotionsTab ul.promo-potentialProductPromoList li.promo-potentialProductPromo
{
	background: #ffd;
	border: 1px solid #b9b9a1;
	float: left;
	margin-bottom: 10px;
	width: 100%;
}

#promo-abstractorderPromotionsTab ul.promo-potentialProductPromoList .promo-heading
{
	background: #e8e8c9;
	border-bottom: 1px solid #b9b9a1;
	font-weight: bold;
	padding: 4px 6px 4px;
}

#promo-abstractorderPromotionsTab ul.promo-potentialProductPromoList dl
{
	border-right: 1px solid #bbb;
	float:left;
	padding: 4px 6px 4px;
	width: 154px;
}

#promo-abstractorderPromotionsTab ul.promo-potentialProductPromoList dl dt
{
	float: left;
	width: 50%;
}

#promo-abstractorderPromotionsTab ul.promo-potentialProductPromoList dl dd
{
	float: left;
	font-weight: bold;
	width: 49%;
}

#promo-abstractorderPromotionsTab ul.promo-potentialProductPromoList ul
{
	padding: 4px 6px 4px;
	margin-left: 180px;
}

#promo-abstractorderPromotionsTab ul.promo-potentialProductPromoList ul.promo-potentialPromotionList
{
	list-style: disc;
}

#promo-abstractorderPromotionsTab ul.promo-potentialProductPromoList ul.promo-potentialPromotionList li
{
	display: list-item;
}

#promo-abstractorderPromotionsTab span.promo-certainty
{
	font-size: 8pt;
	font-style: italic;
	color: #666;
}

/* ============================================================================
    Help text
============================================================================ */

td.text {
  color:#666;
  font-size: 0.8em;
}

/* ============================================================================
    Messages help tables
============================================================================ */

table.promo-messageParams
{
	background: #f8f8f8;
	margin-left: 2em;
}

table.promo-messageParams th, table.promo-messageParams td
{
	border-bottom: 1px solid #eee;
	font-size: 0.8em;
	padding: 3px 5px 3px;
	text-align: left;
}

table.promo-messageParams th
{
	background: #eee;
	border-bottom: 1px solid #ddd;
	color:#0021C7;
}

