@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";
body {
    font-size: 14px;
    color: #484848;
}
body, div, span, object, iframe, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section, input {
    font-family: Trebuchet MS,Helvetica,Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6,
.span-24 > .scroller .title,
.summaryOverlay .headline,
.accountNav .headline,
#cartItems .headline,
#orderTotals thead th,
.cartPromo .headline,
.accountContentPane .headline,
.facetNavigation .headline,
.facetNavigation .facet .facetHead .refinementToggle,
.productList .productListItem .head a,
.prod_add_to_cart_box h2,
.prod_add_to_cart_box h3,
.dashboard-default,
.dashboard-headline,
.small_popup_big_headline,
.accountContentPane .subHeadline,
.simplifyPickupPanel .headline{
    font-family: 'Montserrat', sans-serif;
}
.headerContent a,
.footer a,
.facetNavigation a,
.pagination a,
.tabs-list a {
    color: #484848;
    -webkit-transition: color 200ms ease-in-out 0s;
    -moz-transition: color 200ms ease-in-out 0s;
    -o-transition: color 200ms ease-in-out 0s;
    transition: color 200ms ease-in-out 0s;
}
:focus {
    outline-style: none;
    outline-width: 0;
}

hr {
    color: #dbdad7;
}
del {
    color: #999;
}

#page,
.span-24 {
    width: 990px;
}
.span-14 {
    width: 567px;
}
.span-12 {
    width: 490px;
}
.span-10 {
    width: 402px;
}
.span-8 {
    width: 323px;
}
/* global messages */
.alert {
    border-style: solid;
    margin-top: 10px;
}

/* breadcrumb */
.breadcrumb {
    margin-bottom: 35px;
    background-color: transparent;
}
.breadcrumb ul {
    padding: 25px 0 15px;
}
.breadcrumb ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: none;
    color: #999999;
}
.breadcrumb ul li a.last {
    color: #484848;
}

/* cart */
.empty-cart {
    margin-top: 55px;
}
.empty-cart .content {
    font-size: 1.143em;
}
.empty-cart h2 {
    font-size: 24px;
}