a {
    font-size: 14px;
    font-weight: 700;
    color: #0073e4;
}
a:focus, a:hover {
    color: #0073e4;
}
button, a.button {
    font-family: Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 3px;
}
button {
    height: 3em;
    line-height: 42px;
    background-color: #f0efec;
}
button:focus {
    outline: -webkit-focus-ring-color auto 0;
    outline: none;
}
.large, .small {
    font-size: 14px;
    line-height: 42px;
}
button.negative {
    color: #0073e4;
    background-color: transparent;
    padding-top: 14px;
    padding-left: 0;
    height: auto;
    line-height: 1.857em;
}
button.positive, a.button.positive, a.button,
#storeFinder .searchPane .findStoresNearMe,
.searchPOS .searchPOSForm button,
.productAddToCartPanel .addToCartButton,
.productAddToCartPanel .pickupInStoreButton {
    font-size: 14px;
    line-height: 42px;
    text-transform: none;
    height: 3em;
    border: medium none;
    background-color: #ffb800;
    color: #000;
    padding: 0 10px;
    margin-top: 10px;
    margin-right: 0;
    font-weight: bold;
}
button.positive:hover, a.button.positive:hover,
button.positive:focus, a.button.positive:focus,
#storeFinder .searchPane .findStoresNearMe:hover,
.searchPOS .searchPOSForm button:hover,
.productAddToCartPanel .addToCartButton:hover{
    background-color: #ffcb47;
    outline: none;
}
button.positive[disabled], a.button.positive[disabled],
#storeFinder .searchPane .findStoresNearMe[disabled],
.searchPOS .searchPOSForm button[disabled],
.productAddToCartPanel .addToCartButton[disabled] {
    background-color: transparent;
    border: 2px solid #f0efec;
    color: #adacaa;
    opacity: 1;
}
/* secondary button */
button.secondary, a.button.secondary,
.productAddToCartPanel .pickupInStoreButton {
    background-color: #0073e4;
    color: #fff;
}
button.secondary:hover, a.button.secondary:hover,
.productAddToCartPanel .pickupInStoreButton:hover {
    background-color: #3284f7;
    color: #fff;
}

.productList .product-action .positive {
    padding: 0 25px;
}

/* remove link */
a.remove {
    color: #ff0000;
}