body { 
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #eee;
	font-size: 12px;
	line-height: 110%;
	text-align: center;
}

/* LOGIN FORM STYLES */
.loginContainerWindow {
	background-image: url(../images/login-mcccockpit.png);
}

.login_grid > tbody > tr > td > table.z-hbox {
	width: 100%;
}

.login_grid.z-grid span.z-label {
  padding-right: 0;
  width: 6em;
  display: inline-block;
}

.login_grid.z-grid span.z-combobox {
 margin-left: 11px;
}

.loginAnonymous {
	position:relative;
	text-align:right;
	top:2px;
}

.z-toolbar-button {
	font-size:9px;
	margin-left:5px;
}

.loginAnonymous .z-toolbar-button { color:#444; }

/* LOGIN FORM STYLES END */


.mccContainerWrapper {
	margin-left: -20px;
}

/* MAIN AREA STYLES */
.main_container {
	margin: auto;
	width: 987px;
	height: 100%;
	text-align: left;
}

.logo {
	position: absolute;
	top: 10px;
	right: 0;
}


.logo > div > a {
	color: #B7C0CE;
	display: block;
	text-decoration: none;
	margin: 0 0 5px 0;
}

.logo > div > a:hover {
	color: #fff;
	cursor: pointer;
}


.logo > div > span {
	color: #eee;
}

.one_area {
	position: relative;
	min-height: 175px;
}

.logo div {
	text-align: left;
	margin: 10px 0 0 10px;
}

.commerce {
	position: absolute;
	bottom: 0;
	width: 430px;
	left: 210px;
}

.left_pane {
	text-align: right;
	width: 200px;
	float: left;
	border-right: solid 1px white;
	padding: 0 10px 0 0;
}

.commerce .left_pane {
	position: absolute;
	bottom: 0;
}

.left_pane > div > img {
	margin-right: -5px;
}

.left_pane > div > span {
	color: #fff;
	display: block;
	line-height: 140%;
}

.right_pane {
	text-align: left;
	width: 200px;
	float: right;
}

.three_areas {
	clear: both;
	background: url(../images/unifiedCenter01.png) no-repeat;
	min-height: 229px;
	position: relative;
}

div.right_pane span.h2, div.left_pane span.h2 {
	font-size: 145%;
	margin: 0 0 15px 0;
	display: block;
	color: white;
	font-weight: bold;
}

div.right_pane a,div.left_pane a {
	color: #B7C0CE;
	display: block;
	margin: 0 0 5px 0;
	text-decoration: none;
	clear: both;
}

.commerce div.right_pane a:hover {
	color: #c5dbe8;
}

.content {
	width: 420px;
	top: 80px;
	left: 1px;
	position: absolute;
}

.content .left_pane {
	width: 190px;
	margin-right: 10px;
}

.content div.right_pane a:hover {
	color: #76dd35;
}

.platform {
	width: 430px;
	top: 240px;
	left: 210px;
	position: absolute;
	float: left;
}

.platform div.right_pane a:hover {
	color: #fff;
}

.channel {
	width: 360px;
	top: 80px;
	left: 646px;
	position: absolute;
}

.channel .left_pane {
	text-align: left;
	width: 190px;
	float: right;
	border-left: solid 1px white;
	border-right: none;
	padding: 0 0 0 10px;	
}

.channel .left_pane > img {
	margin-left: 0;
}

.channel .right_pane {
	text-align: left;
	width: 150px;
	float: left;
	border: none;
	padding: 0;
}

.channel div.right_pane a:hover {
	color: #ffe400;
}

.sublink_title {
	clear: both;
	margin: 10px 0 0 0;
}

.sublink_title .icon {
	float: left;
	width: 10px;
	height: 11px;
	margin: 2px 5px 0 0;
}

.sublink_title .icon img:hover {
	cursor: pointer;
}

.sublink_title .title span {
	color: white;
	float: left;
	font-weight: bold;
	margin: 0 0 5px 0;
}

.sublink_title .title span:hover {
	cursor: pointer;
}

.sublink {
	margin: 0 0 0 16px;
}

div.divider {
	width: 100px;	
}

div.dividerWithBar {
	width: 100px;
	border-bottom: solid 1px #ddd;	
}

/* MAIN AREA STYLES END */
