
body { 
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #70707b;
	font-size: 12px;
	line-height: 100%;
	background: #e3e3e3 url(../image/main_backgr.gif) top repeat-x;
	text-align: center;
	margin: 0px;
} 

h2 {
	color: #666;
	font-size: 18px;
	margin: 0 0 16px 0;
	line-height: 20px;
}

.floatLeft {
	float: left;
}

.floatright {
	float: right;
}

#logo {
	position: absolute;
	top: 20px;
	right: 13px;
	width: 180px;
}

#header {
	position: relative;
	top: 10px;
	left: -120px; 
	height: 300px;
}

.infoCorner {
	position: absolute;
	left: 10px;
	top: -100px;
	text-align: left;
	font-size: 11px;
	max-width: 300px;
}

.infoCorner h3 {
	font-size: 11px;
	font-weight: bold;
	margin: 0 0 5px 0;
}

.infoCorner p {
	margin: 0;
}

.table {
	margin: 21% auto 0 auto;
	width: 989px;
	height: 307px;
	background: transparent url(../image/unifiedCenter01.png) center center no-repeat;
	position: relative;
}

.column {
	position: absolute;
	text-align: left;
}

.platform {
	top: 318px;
	left: 440px;
}

.content {
	top: 95px;
	left: 70px;
}

.channel {
	top: 95px;
	right: 75px;
}

.commerce {
	bottom: 310px;
	left: 440px;
}

.emptyColumn {
	width: 100px;
}
.center {
	display: block;
	text-align: center;
}

.text ul {
	list-style: none; 
	font-size: 14px;
	line-height: 22px;
	padding: 0;
	margin: 0;
}
.text li { 
	margin: 0;
	padding: 0.2em 0 0.2em 0;
}

.text li.divider { 
	margin-bottom: 4px;
	padding-top: 4px;
	border-bottom: 1px solid #aaa;
	font-size: 1px;
	line-height: 1px;
}

.text li a { 
	color: #70707b;
	text-decoration: none;
}

.text li a:hover { 
	text-decoration: underline;
}

.text ul li ul {
	list-style: none; 
	font-size: 12px;
	line-height: 12px;
	padding: 0em 0 1em 0;
	margin: 0;
}
.text li ul li { 
	margin: 0;
	padding: 0.2em 0 0.4em 0;
}
.text li ul li a{ 
	color: #80808b !important;
	text-decoration: none;
}

