a 
{
  color: #000000;
  font-family: verdana, arial, sans-serif;
  font-size:x-small;
  text-decoration: none;
  font-weight:bold;
}

a:link 
{
  color: #0D70C6;
  text-decoration: bold;
}

a:visited	
{
  color: #0D70C6;
  text-decoration: none;
}

a:active 
{
  color: #FFCC66;
}

a:hover 
{
  color: #FFCC66;
}

body
{
  font-family: verdana, arial, sans-serif;
  color:#666;
  font-size:x-small;
  font-weight:normal;
  background:#FFFFFF;
}

h1
{
	font-size:large;
	color: #003366;
	font-variant: small-caps;
}

h2
{
	font-size:small;
	color: #003366;
	font-variant: small-caps;
}

h3
{
	font-size:small;
	color: #003366;
	font-variant: small-caps;
}

h4
{
	font-size:small;
	color: #003366;
}

h5
{
	font-size:x-small;
	color: #003366;
}

table
{
	border:1px solid #003366;
	font-size:x-small;
}

tr
{
	border:1px solid #003366;
}

th
{

}

td
{

}

dt
{
	margin-top:1.2em;
}

dd p
{
	margin-top:0px;
	margin-bottom:0px;

}

tt
{
	font-size:x-small;
}

.book
{
	margin:15px;
	padding: 10px;
	
}

.programlisting
{
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 5px 5px 5px 5px;
  color: inherit;
  background-color: #eeeeee;
  border: 1px dotted #003366;
  font-family: courier, courier new, monospace;
  font-size: x-small;
  line-height: 100%;
  white-space: pre;
  width: 98%;
  overflow: auto;
  /*overflow: scroll -moz-scrollbars-horizontal;
  overflow-x: auto;*/
}

.title
{
	color: #003366;
}

.term
{
	font-size:normal;
	color: #003366;
	font-weight:bold;
  	font-variant: small-caps;
}
