.yw-com_hybris_instore_widgets_categorytree{
	background: #ccd3db;
}


.yw-categorytree-tree{
	background: #ccd3db;
}

.yw-categorytree-tree .z-listbox{
	border: none;
	background: none;
}

.yw-categorytree-tree .z-listbox .z-listbox-body{
	border: none;
	background: none;
}

.yw-categorytree-tree  div.z-listbox-body .z-listcell{
	padding: 20px 5px;
}

.yw-categorytree-tree  div.z-listcell-cnt{
	font-size: 24px;
	color: #3c4f64;
	font-weight: 100;
	line-height: 24px;
	padding: 3px;
}

.yw-categorytree-tree  div.z-listbox-body .z-listcell{
	border-bottom: 1px solid #fff;
	border-left: none;
}

.yw-categorytree-tree tr.z-listbox-odd{
	background: transparent;
}

.yw-categorytree-tree tr.z-listitem-over{
	background: none;
}

.yw-categorytree-tree tr.z-listitem-over > td.z-listcell{
		border-top: 1px solid #ccd3db;
}

.yw-categorytree-tree tr.z-listitem-over div.z-listcell-cnt{
		color: #085ABC;
}


.yw-categorytree-tree tr.z-listitem-seld{
	background: #ffde31;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffde31', endColorstr = '#ffc813');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffde31', endColorstr = '#ffc813')";
	background: -moz-linear-gradient(top, #ffde31, #ffc813);
	background: -ms-linear-gradient(top, #ffde31, #ffc813);
	background: -o-linear-gradient(top, #ffde31, #ffc813);
	background: -webkit-gradient(linear, center top, center bottom, from(#ffde31), to(#ffc813));
	background: -webkit-linear-gradient(top, #ffde31, #ffc813);
	background: linear-gradient(top, #ffde31, #ffc813);
}