#registerForm .form_field_error {
	width:auto;
    float: none;
	padding-right:0;
	clear:both;
}




#recaptcha_image,
#recaptcha_image > img{
	width: 240px !important;
	height:46px !important;	
	
}


#recaptcha_image{
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #BBBBBB;
	overflow:hidden;
	margin:0 0 5px 0 ;
	background:#fff;
}




#recaptcha_widget .cicon{
	display:block;
	width:20px;
	height:20px;
	margin:0 0 5px 5px ;
	
	
}



#recaptcha_widget .cicon.reload{
	background:url("../images/reload.png") no-repeat center center;
}

#recaptcha_widget .cicon.audio{
	background:url("../images/audio.png") no-repeat center center;
}

#recaptcha_widget .cicon.image{
	background:url("../images/image.png") no-repeat center center;
}


#recaptcha_widget .cicon.help{
	background:url("../images/info.png") no-repeat center center;
}


#recaptcha_widget  .recaptcha_audio_cant_hear_link{
	display:block;
	width:26px;
	height:26px;
	overflow:hidden;
	color:transparent;
	float:left;
	cursor:pointer;
}


#recaptcha_audio_play_again{
	background:url("../images/replay.png") no-repeat center center;
	margin:10px 31px 10px 62px;
}


#recaptcha_audio_download{
	background:url("../images/download.png") no-repeat center center;
	margin:10px 62px 10px 31px;
}


#recaptcha_image  br{
	display:none;
}

#recaptcha_response_field{
	margin-right:0;
}







