/*
	Global
*****************/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	background: #ebecee;
	color: #293D50;
}

table {
	font-family: arial, helvetica, sans-serif;
	font-size: 1em;
	border-spacing: 0;
	border: 0;
	vertical-align: top;
}

#postformIems {
	padding-bottom: 10px;
}

/*DL, DT, DD TAGS LIST DATA*/
dl {
	margin-bottom: 10px;
	overflow: hidden;
}

dl dt {
	float: left;
	margin-right: 10px;
	padding: 5px 0;
	width: 30%;
	clear: both;
}

dl dd {
	margin: 2px 0;
	padding: 5px 0;
	width: 66%;
	float: left;
}

.optionsBlock dl dd {
	width: 100%;
}

input {
	font-family: arial, helvetica, sans-serif;
	font-size: 1em;
	width: 96%;
	border: 1px solid #BBBBBB;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 3px 3px 4px #EEEEEE inset;
	padding: 5px 2% 5px 2%;
}

input[type="checkbox"] {
	width: auto;
	padding: 0;
	margin: 0 10px 0 0;
}

select {
	font-family: arial, helvetica, sans-serif;
	font-size: 1em;
	width: 99%;
	border: 1px solid #BBBBBB;
	border-radius: 3px 3px 3px 3px;
	box-shadow: -3px -3px 4px #EEEEEE inset;
	padding: 5px 2%;
}

.grid {
	overflow: hidden;
}

.grid_block_a {
	width: 48%;
	margin-right: 2%;
	float: left;
}

.grid_block_b {
	width: 48%;
	margin-left: 2%;
	float: left;
}

img {
	border: 0;
}

#wrapper {
	
}

#page,#mockpage {
	position: relative;
	overflow: hidden;
	width: 600px;
	margin: 0 auto;
	background: #e3e4e6;
}

#mockwrapper {
	
}

#footer {
	width: 600px;
	margin: 0 auto;
	margin: 0 auto 30px;
	overflow: hidden;
	position: relative;
	clear: both;
	background: #f3f4f5;
}

#header {
	padding: 10px 1.2em 20px;
	position: relative;
	z-index: 9000;
	overflow: hidden;
}

#header .logo,#mockHeader .logo {
	float: left;
	position: relative;
	z-index: 1;
}

#mockHeader {
	padding: 10px 1.2em 20px;
	position: relative;
	z-index: 9000;
	overflow: hidden;
}

#content {
	margin: 0 auto 10px auto;
	overflow: hidden;
}

.item_container {
	padding: 0 1.2em;
}

.item_container_holder {
	margin: 20px 0 10px 0;
}

#form_errors {
	border: 1px dotted;
	margin: 10px 0 10px 0;
	padding: 5px 5px 5px 10px;
	clear: both;
	background-color: #FDF3F3;
	border-color: #D9262A;
	color: #AC1607;
}

#form_errors ul {
	list-style: none;
}

.bold {
	font-weight: bold;
}

.section_break {
	border-top: 1px solid #3276c7;
	background: none repeat scroll 0 0 #0958bd;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	margin: 10px 0 5px;
	clear: both;
}

.required {
	color: #000000;
	font-weight: bold;
}

.hintText {
	left: -1000px;
	position: absolute;
	top: 0;
}

.submitButtonText {
	font-size: 1.15em;
	font-weight: bold;
}

.form {
	padding-bottom: 10px;
}

#postformIems dl dt {
	width: 342px;
}

#postformIems dl dd input {
	width: 500px;
}

.cityInput {
	width: 25%;
	margin: 0 2px;
}

.stateInput {
	width: 10%;
	margin: 0 2px;
}

.postCodeInput {
	width: 15%;
	margin: 0 2px;
}

#debugwelcome {
	color: #37B837;
}

.showDebugPage {
	margin: 10px 0 10px auto;
}

.rightcol {
	float: right;
	margin: 10px 50px 10px 0;
}

.leftcol {
	float: left;
	margin: 10px 0 10px 0;
}

#infoBox {
	background: none repeat scroll 0 0 #0958BD;
	border-top: 1px solid #3276C7;
	color: #FFFFFF;
	margin: 10px 0 5px;
	padding: 5px;
}

/* Iframe Embed -----------*/
@media only screen and (max-width : 600px) {
	dl dt {
		float: left;
		margin-right: 10px;
		padding: 5px 0;
		width: 100%;
	}
	input {
		width: 95%;
	}
	dl dd {
		margin: 2px 0;
		padding: 5px 0;
		width: 100%;
	}
	#page,#mockpage {
		width: 100%;
		background: none;
	}
	.gridBreak .grid_block_a {
		float: none;
		width: 98%;
		margin: 0 0 10px 0;
	}
	.gridBreak .grid_block_b {
		float: none;
		width: 98%;
		margin: 0;
	}
}

/* Smartphones (portrait and landscape) -----------*/
@media only screen and (min-device-width : 320px) and (max-device-width
	: 1024px) {
	body {
		font-size: 15px;
	}
	dl dt {
		float: left;
		margin-right: 10px;
		padding: 5px 0;
		width: 100%;
	}
	dl dd {
		margin: 2px 0;
		padding: 5px 0;
		width: 100%;
	}
	#page,#mockpage {
		width: 100%;
		background: none;
	}
	.section_break {
		font-size: 16px;
	}
	.gridBreak .grid_block_a {
		float: none;
		width: 98%;
		margin: 0 0 10px 0;
	}
	.gridBreak .grid_block_b {
		float: none;
		width: 98%;
		margin: 0;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (max-width : 1024px) {
	input {
		padding: 5px;
	}
	#mockpage {
		width: 600px;
	}
	#mockpage dl dd {
		width: 99%;
	}
	#mockpage dl dt {
		width: 99%;
	}
	#mockpage .rightcol {
		margin: 10px 16px 10px 0;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) {
	#page {
		width: 600px;
		background: #e3e4e6;
	}
	input {
		padding: 5px;
	}
	.gridBreak .grid_block_a {
		margin-right: 0;
	}
	#mockpage {
		width: 800px;
	}
	#mockpage dl dd {
		width: 63%;
	}
	#mockpage dl dt {
		width: 35%;
	}
	#mockpage .rightcol {
		margin: 10px 10px 10px 0;
	}
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5) , only
	screen and (min-device-pixel-ratio : 1.5) { /* Styles */
	#header .logo img {
		width: 75%;
	}
}