.btgExpressionComponentView div.leftPanel div.comboxPanelSclass,
.btgExpressionComponentView div.middlePanel div.comboxPanelSclass,
.btgExpressionComponentView div.centerPanel div.comboxPanelSclass {
    width: 250px !important;
}


.btgExpressionComponentView div.centerPanel div.comboxPanelSclass 
.contentElementBoxEditor {
	width:250px !important;
}

.collectionUIEditorItem .enumEditor .initiative-combo .z-combobox-inp{
	width:190px;
} 