/* ZK - CUSTOM  */

.yw-com_hybris_instore_widgets_productdetail .yw-ats-open-true .z-groupbox-3d-hm{
	background: url(images/icon_accordeon_arrow_down.png) no-repeat 97% center #dbdfe4;
	border: none;
	min-height: 55px;
}

.yw-com_hybris_instore_widgets_productdetail .yw-ats-open-true .z-groupbox-3d{
	background: url(images/icon_accordeon_arrow_down.png) no-repeat 97% 10px #dbdfe4;
}

.yw-com_hybris_instore_widgets_productdetail .yw-ats-open-false .z-groupbox-3d-hm{
	background: url(images/icon_accordeon_arrow_right.png) no-repeat 97% center #dbdfe4;
	border: none;
	min-height: 55px;
}

.yw-com_hybris_instore_widgets_productdetail .yw-ats-open-false .z-groupbox-3d{
	background: url(images/icon_accordeon_arrow_right.png) no-repeat 97% 10px #dbdfe4;
}
.yw-com_hybris_instore_widgets_productdetail .z-groupbox-3d-header{
	background: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #959da8;
	border-top: 1px solid #eaecef;
	min-height: 55px;
	color: #54637c;
	font-weight: 100;
	font-size: 20px;
}

.yw-com_hybris_instore_widgets_productdetail .z-groupbox-3d-hm-readonly, 
.yw-com_hybris_instore_widgets_productdetail .z-groupbox-3d-readonly{
	background: #dbdfe4;
}

.yw-com_hybris_instore_widgets_productdetail .z-groupbox-3d-hm:hover{
	background-color: #d3d9df;
}

.yw-com_hybris_instore_widgets_productdetail .z-groupbox-3d-hm-readonly:hover{
 	background: none #dbdfe4;
}

.yw-com_hybris_instore_widgets_productdetail .z-groupbox-3d-header .z-caption-l{
	font-size: 20px;
	color: #54637c;
	font-weight: 100;
	font-size: 20px;
	padding: 15px 12px;
	width: 50%;
}

.yw-com_hybris_instore_widgets_productdetail .z-groupbox-3d-cnt{
	background: #d3d9df;
}



.yw-com_hybris_instore_widgets_productdetail .z-groupbox-3d-cnt div.z-listbox-header th.z-listheader{
	background: none repeat scroll 0 0 #4C5C76;
	border-left: 1px solid #959da8;;
	border-right: none;
	border-bottom: none; 
	border-top: none;
	
}

.yw-com_hybris_instore_widgets_productdetail .z-groupbox-3d-cnt .z-listheader .z-listheader-cnt{
	font-weight: 100;
	color: #fff;
}

/* ZK - CUSTOM - END */


.yw-com_hybris_instore_widgets_productdetail {
	background: #ebecee;
	overflow: auto;
}

.yw-productdetail-header {
	border-bottom: 1px solid #798ba1;
	padding-bottom: 6px;
}

.yw-productdetail-title, 
.yw-productdetail-price{
	font-weight: 100;
	font-size: 36px;
	line-height: 38px;
	color: #0958b8;
	width: 100%;
	display: block;
}

.yw-productdetail-subtitle,
.yw-productdetail-priceinfo{
	color: #072a55;
	font-size: 16px;
	line-height: 18px;
}

.yw-productdetail-image img {
	border: 1px solid #cdd4dc;
	margin: 0 auto;
	display: block;
}

.yw-productdetail-info,
.yw-productdetail-header {
	margin: 10px 10px 10px 10px;
}

.yw-productdetail-header .z-hlayout-inner {
	float: left;
}

.yw-productdetail-header .z-hlayout-inner:last-child {
	float: right;
}

.yw-productdetail-storelist {
	height: 100%;
}

.yw-productdetail-storelist .z-listbox-body{
	/*max-height: 300px;*/
}

.yw-productdetail-infoslot-cnt {
	position: relative;
	height: 250px;
}

.yw-productdetail-infoslot {
	border: 1px solid #cdd4dc;
	background: #fff;
	padding: 10px;
	margin: 20px 10px;
	height: auto;
}

.yw-productdetail-stockheader{
	background: #4c5c76;
	min-height: 55px;
}

.yw-productdetail-stockheader button.yw-productdetail-refreshstock-btn{
	background: url("images/icon_func_reload.png") no-repeat scroll 10px center #085ABC;
    padding-left: 37px;
}

.yw-productdetail-refreshstock-btn:active{
	background: url("images/icon_func_reload.png") no-repeat scroll 10px center #085ABC;
}

.yw-prodcutdetail-stockheader-label{
	font-size: 20px;
	color: #fff;
	font-weight: 100;
	padding-left: 16px;
    padding-top: 17px;
}

.yw-productdetail-ratingcontainer{
	margin: 10px auto;
}

.yw-productdetail-actioncontainer button{
	width: 100%;
}

.yw-productdetail-ats{
	display: block;
	float: left;
	text-align: left;
	 color: #54637C;
    font-size: 20px;
    font-weight: 100;
    padding: 15px 12px;
}


.yw-productdetail-ats-globalstatus-true {
	background: url(images/stockInfo_true.png) no-repeat; 
	height: 22px;
	width: 22px;
	float: left;
	margin-left: 11px;

}

.yw-productdetail-ats-globalstatus-false {
	background: url(images/stockInfo_false.png) no-repeat; 
	height: 22px;
	width: 22px;
	float: left;
	margin-left: 11px;

}


.yw-productdetail-ratingcontainer{
	width: 146px;
	position: relative;
}


.yw-productdetail-rating-mask-holder {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
}

.yw-productdetail-rating-rate {
	position: absolute;
	top: 0;
	left: 0;
	max-width: none;
}

.yw-productdetail-rating-na .yw-productdetail-rating-rate {
	display: none;	
}


.yw-ats-updating .yw-productdetail-atsbox {
	opacity: 0.5;
}

.yw-productdetail-header .yw-productdetail-back-button.z-button,
.yw-productdetail-header .yw-productdetail-back-button.z-button-os{
	background: #ffde31;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffde31', endColorstr = '#ffc813');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffde31', endColorstr = '#ffc813')";
	background: -moz-linear-gradient(top, #ffde31, #ffc813);
	background: -ms-linear-gradient(top, #ffde31, #ffc813);
	background: -o-linear-gradient(top, #ffde31, #ffc813);
	background: -webkit-gradient(linear, center top, center bottom, from(#ffde31), to(#ffc813));
	background: -webkit-linear-gradient(top, #ffde31, #ffc813);
	background: linear-gradient(top, #ffde31, #ffc813);
	
	color: #072a55;

	font-size: 40px;
	margin: 0px 10px 0 0;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 65px;
}

.yw-productdetail-header .yw-productdetail-back-button.z-button:hover,
.yw-productdetail-header .yw-productdetail-back-button.z-button-os:hover{
	-moz-box-shadow: inset 0px 0px 1px #000000;
	-webkit-box-shadow: inset 0px 0px 1px #000000;
	box-shadow: inset 0px 0px 1px #000000;

}



/* Nexus 7 (portrait) ----------- */
@media only screen and (max-width : 603px) {
     
	.yw-productdetail-title,
	.yw-productdetail-price{
		font-size: 25px;
	}
	
	.grid-30,
	.grid-70{
		float: none;
		margin: 0 2% 20px 0;
    	width: 98%;
	}
}


/* iPad Mini in portrait only */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

	
	.grid-30,
	.grid-70{
		float: none;
		margin: 0 2% 20px 0;
    	width: 98%;
	}
	
	
}


.yw-productdetail-listbox.z-listbox .z-listbox-body {
	height: 100%;
}

.yw-productdetail-listbox.z-listbox {
	border: none;
}

.yw-productdetail-listbox .z-listcell-cnt {
	line-height: inherit;
}

tr.yw-productdetail-listitem > td.z-listcell  {
	padding: 0;
	border: none;
}

.yw-productdetail-listbox .z-listitem.yw-productdetail-listitem,
.yw-productdetail-listbox > .z-listbox-body  {
	background: none;
}

.yw-productdetail-main {
	cursor: default;
}